@charset "utf-8";

/* z-index
.visual_slider_wrap span 9 (arrow)
.header_wrap 10 / .modal 11 / .btn_ham 12 / nav 13 */
/* tablet */
@media screen and (min-width:768px) {


  nav form input{
    font-size:2rem;
  }
  
  nav form button{
    width:20px;
    height:20px;
  }
  nav ul{
    font-size:2rem;
  }
  nav>div:last-child{
    font-size:2rem;
  }
  /* header end */


.visual .btn_more a{
  font-size:2rem;
}
/* visual end */

.con1{
  padding:0 80px;
}

.con1_box_txt{
  width:70%;
  margin-left:20px;
}
.con1_box_txt b{
  display:block;
  font-size:2rem;
}
.con1_box_txt i{
  display:block;
  font-size:1.4rem;
  margin:4px 0 12px;
}
.con1_box_txt p{
  font-size:1.6rem;
}

.con1 .btn_more{
  width:200px;
}
.con1 .btn_more a{
  font-size:2rem;
}
/* con1 end */
.con2{
  padding:0 80px;
}
.con2_con{
  position:relative;
  overflow:scroll;
}
.con2_box{
  width:1600px;
  display:flex;
}
.con2_box li{
  width:400px;
}
.con2 .btn_more {
  position:relative;
  width:200px;
}
.con2 .btn_more a{
  font-size:2rem;
}

/* con2 end */

/* main end */

footer{
  position:relative;
  width:100%;
}
.footer_wrap{
  width:100%;
  border-top:1px solid rgba(51,51,51,0.3);
  padding:20px;
}

.footer_top{
  width:100%;
  margin:60px 0 40px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom:40px;
}
.footer_top h2{
  float:left;
  font-size:2.4rem;
}
.footer_top>div:nth-child(1) ul{
  width:60%;
  float:left;
  margin-left:20px;
}

.footer_sns{
  clear:both;
  margin-top:48px;
}

.footer_bottom{
  width:100%;
  font-size:1.4rem;
}
}
/* tablet end */

/* pc_1024 */
@media screen and (min-width:1024px) {

  .btn_ham{
    display:none;
  }
  h1{
    width:260px;
    font-size:2.8rem;
  }
  nav{
    display:block !important;
    width:80%;
    display:flex !important;
    justify-content: space-between;
  }
  nav div:first-child{
    width:80%;
  }
  nav div:first-child form{
    width:32%;
    margin-top:0;
    float:right;
  }
  nav div:first-child form input{
    font-size:1.6rem;
  }
  nav div:first-child form button{
    width:16px;
    height:16px;
  }
  nav div:first-child ul{
    float:left;
    width:48%;
    text-align:center;
    display:flex;
    justify-content: space-around;
    font-size:1.6rem;
  }
  nav>div:last-child{
    width:20%;
    line-height:40px;
    font-size:1.6rem;
  }
  
  nav form input{
    display:none;
  }  
  nav form button{
    width:20px;
    height:20px;
  }
  nav ul{
    font-size:2rem;
  }
  nav>div{
    font-size:2rem;
  }
  /* header end */
  
  
  .visual .btn_more a{
    font-size:2rem;
  }
  /* visual end */
  
  .con1{
    padding:0 80px;
  }
  .con1_box{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  .con1_box li{
    width:49%;
  }
  
  /* con1 end */
  .con2{
    padding:0 80px;
  }
  .con2_con{
    position:relative;
    overflow:scroll;
  }
  .con2_box{
    width:1600px;
    display:flex;
  }
  .con2_box li{
    width:400px;
  }
  .con2 .btn_more {
    position:relative;
  }
  
  /* con2 end */
  
  /* main end */
  
  footer{
    position:relative;
    width:100%;
  }
  .footer_wrap{
    width:100%;
    border-top:1px solid rgba(51,51,51,0.3);
    padding:20px;
  }
  
  .footer_top{
    width:100%;
    margin:60px 0 40px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    padding-bottom:40px;
    display:flex;
  }
  .footer_top>div:nth-child(1){
    width:80%;
    display:flex;
  }
  .footer_top h2{
    display:block;
    width:max-content;
    font-size:2.4rem;
  }
  .footer_top>div:nth-child(1) ul{
    width:70%;
    display:block;
    margin-left:20px;
  }
  .footer_top>div:nth-child(1) ul li{
    display:inline-block;
  }
  
  .footer_sns{
    clear:both;
    width:20%;
    margin-top:0;
  }
  
  .footer_bottom{
    width:100%;
    font-size:1.4rem;
  }
  }
  /* pc_1024 end */

/* pc_1280 */
@media screen and (min-width:1280px) {

h1{
  width:280px;
  font-size:3rem;
}

nav div:first-child{
  width:80%;
}
nav div:first-child form{
  width:32%;
  margin-top:0;
  float:right;
}
nav div:first-child form input{
  font-size:2rem;
}
nav div:first-child form button{
  width:20px;
  height:20px;
}
nav div:first-child ul{
  width:48%;
  font-size:2rem;
}
nav>div:last-child{
  font-size:2rem;
}

nav form input{
  display:inline-block;
}  
nav form button{
  width:20px;
  height:20px;
}
nav ul{
  font-size:2rem;
}
nav>div{
  font-size:2rem;
}
/* header end */

.visual{
  height:540px;
}
.visual_slider_wrap span:nth-of-type(1){
  width:40px;height:40px;
}
.visual_slider_wrap span:nth-of-type(2){
  width:40px;height:40px;
}
.visual_slider{
  width:1134px;
  height:400px;
  margin-top:68px;
}
.visual_slider li{
  width:324px;
  height:400px;
  margin-left:80px;
}

.visual_slider li:first-child{
  margin-left:0;
}
.visual_slider li a b{
  top:260px;
  font-size:2.8rem;
}
.visual_slider li a p{
  top:310px;
  font-size:2.4rem;
}
.visual_slider li a i{
  top:340px;
  font-size:1.6rem;
}

.visual .btn_more{
  margin-top:40px;
  width:70%;
}
.visual .btn_more a{
  height:80px;
  line-height:80px;
  font-size:2.4rem;
}
/* visual end */

.con1{
  margin-top:320px;
  padding:0 80px;
}

/* con1 end */
.con2{
  padding:0 80px;
}
.con2_con{
  position:relative;
  overflow:auto;
}
.con2_box{
  width:100%;
  flex-wrap:wrap;
  justify-content: space-between;
}
.con2_box li{
  width:49%;
  margin-top:20px;
}
.con2 .btn_more {
  position:relative;
}

/* con2 end */

/* main end */

footer{
  position:relative;
  width:100%;
}
.footer_wrap{
  width:100%;
  border-top:1px solid rgba(51,51,51,0.3);
  padding:20px;
}

.footer_top{
  width:100%;
  margin:60px 0 40px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom:40px;
  display:flex;
}
.footer_top>div:nth-child(1){
  width:80%;
  display:flex;
}
.footer_top h2{
  display:block;
  width:max-content;
  font-size:2.4rem;
}
.footer_top>div:nth-child(1) ul{
  width:70%;
  display:block;
  margin-left:20px;
}
.footer_top>div:nth-child(1) ul li{
  display:inline-block;
}

.footer_sns{
  clear:both;
  width:20%;
  margin-top:0;
}

.footer_bottom{
  width:100%;
  font-size:1.4rem;
}
}
/* pc_1280 end */