<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link href="/styles/style_reset.css" rel="stylesheet" type="text/css">
  <link href="/styles/webcomponent.css" rel="stylesheet">
  <link href="/styles/mypage.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="header_wrap">
      <header-component data-name="{{User.nickname}}"></header-component>
    </div>
    <main>
      <div class="main-nav">
        <h1>마이페이지</h1>
        <div>
          <div class="nav-user nav-active">회원정보</div>
          <div class="nav-review">작성한 리뷰</div>
        </div>
      </div>
      <section class="user-wrap">
        <h1>기본정보</h1>
        <div class="user-data">
          <div class="id-card">
            <img src="/styles/images/profile.png" alt="프로필사진">
            <div class="user-id">
              <p>{{info[0].nickname}}</p>
              <p>{{info[0].id}}</p>  
            </div>
            <div class="user-career">
              <p>총 경력</p>
              <div><strong class="career-year"></strong>년<strong class="career-month">10</strong>개월</div>
            </div>
          </div>
          <div class="update-data">
            <form id="user-info" method="post" action="/mypage/change/userinfo" onsubmit="return checkinfo()">
              <fieldset>
                <div class="userdata-id">
                  <label>이메일(ID)</label>
                  <p>{{info[0].id}}</p>
                </div>
                <div class="userdata-pw">
                  <label>비밀번호</label>
                  <button type="button" onclick="modal_show()">변경
                </div>
                <div class="userdata-nickname">
                  <label>닉네임</label>
                  <div>
                    <input type="text" id="nickname" name="nickname" value="{{info[0].nickname}}" minlength="2" maxlength="20" autocomplete="off" onchange="checkNick()" required>
                    <div class="checkmsg-nick"></div>  
                  </div>
                </div>
                <div class="userdata-phone">
                  <label>휴대폰번호</label>
                  <div>
                    <input type="text" id="phonenumber" name="phonenumber" value="{{info[0].phonenumber}}" autocomplete="off" onchange="checkPhone()" required>
                    <div class="checkmsg-phone"></div>  
                  </div>
                </div>
                <div class="userdata-policy">
                  <label class="mo-show tab-none">개인정보유효기간</label>
                  <label class="mo-none tab-show">개인정보<br>유효기간</label>
                  <ul>
                    <li>
                      <input type="radio" name="radio1" value="탈퇴시" {% if info[0].info_period == '탈퇴시' %}checked{% endif %}>
                      <label>탈퇴시</label>
                    </li>
                    <li>
                      <input type="radio" name="radio1" value="3년" {% if info[0].info_period == '3년' %}checked{% endif %}>
                      <label>3년</label>
                    </li>
                    <li>
                      <input type="radio" name="radio1" value="1년" {% if info[0].info_period == '1년' %}checked{% endif %}>
                      <label>1년</label>
                    </li>
                  </ul>
                </div>
              </fieldset>
              <button class="save-btn" type="submit" form="user-info">저장</button>
            </form>
          </div>
        </div>
      </section>
      <section class="career-wrap">
        <h1>경력사항</h1>
        <div class="total-career">총 경력: 
          <div>
            <strong class="career-year"></strong>
            년
            <strong class="career-month">10</strong>
            개월
          </div>
        </div>
        <div class="career-contents">
          {% for c in career | reverse %}
          <form id="career{{loop.index}}"class="career-content" method="post" action="/mypage/change/career">
            <fieldset>
              <input style="display:none" name="no" value="{{c.no}}">
              <div class="career-item career-corpname">
                <label class="content-font bold">기관명</label>
                <input type="text" class="content-font" name="corp_name" value="{{c.Corp_name}}" readonly>
              </div>
              <div class="career-item career-period">
                <label class="content-font bold">근무기간</label>
                <div class="period-wrap">
                  <div>
                    <div>
                      <label class="content-font-small">입사일</label>
                    </div>
                    <input type="month" max="YYYY-MM"
                    class="first-date" name="first_date" value="{{c.first_date}}">
                  </div>
                  <div>
                    {% if c.last_date == '9999-12' %}
                    <div class="quit">
                      <label class="content-font-small">퇴사일</label>
                      <div>
                        <input type="checkbox" class="working" checked>
                        <label class="content-font-small">재직중</label>
                      </div>
                    </div>
                    <input type="month" max="YYYY-MM"
                    class="last-date" name="last_date" value="{{c.last_date}}" style="display: none;">
                    {% else %}
                    <div class="quit">
                      <label class="content-font-small">퇴사일</label>
                      <div>
                        <input type="checkbox" class="working">
                        <label class="content-font-small">재직중</label>
                      </div>
                    </div>
                    <input type="month" max="YYYY-MM" class="last-date" name="last_date" value="{{c.last_date}}">
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="career-item career-type">
                <label class="content-font bold">근무직종</label>
                <select name="type" required>
                  <option value="사회복지사" {% if c.type == "사회복지사" %}selected{% endif %}>사회복지사</option>
                  <option value="사무원" {% if c.type == "사무원" %}selected{% endif %}>사무원</option>
                  <option value="영양사" {% if c.type == "영양사" %}selected{% endif %}>영양사</option>
                </select>
              </div>
            </fieldset>
            <div class="btn-line">
              <a href="#" class="content-font bold">내가 쓴 리뷰</a>
              <button form="career{{loop.index}}" type="submit" onclick="return changeCareer(event, 'career{{loop.index}}')">수정</button>
            </div>
          </form>
          {% endfor %}
        </div>
        <div class="career-contents career-write">
          <form id="career-write" class="career-content" method="post" action="/mypage/add/career" onsubmit="return addCareer(event)">
            <fieldset>
              <div class="career-item career-corpname">
                <label class="content-font bold">기관명</label>
                <input type="text" 
                id="add-corpname"
                class="content-font" name="corp_name" placeholder="기관명을 입력해주세요." value="" required>
              </div>
              <div class="career-item career-period">
                <label class="content-font bold">근무기간</label>
                <div class="period-wrap">
                  <div>
                    <div>
                      <label class="content-font-small">입사일</label>
                    </div>
                    <input type="month" max="YYYY-MM" 
                    class="first-date-add" id="first_date_add" name="first_date" value="" required>
                  </div>
                  <div>
                    <div class="quit">
                      <label class="content-font-small">퇴사일</label>
                      <div>
                        <input type="checkbox" class="working-add">
                        <label class="content-font-small">재직중</label>
                      </div>
                    </div>
                    <input type="month" max="YYYY-MM"
                    class="last-date-add" 
                    id="last_date_add" name="last_date" value="" required>
                  </div>
                </div>
              </div>
              <div class="career-item career-type">
                <label class="content-font bold">근무직종</label>
                <select name="type" required>
                  <option value="" selected disabled hidden>직종 선택</option>
                  <option value="사회복지사">사회복지사</option>
                  <option value="사무원">사무원</option>
                  <option value="영양사">영양사</option>
                </select>
              </div>
            </fieldset>
            <div class="btn-line">
              <a href="#" class="content-font bold">내가 쓴 리뷰</a>
              <button type="submit">추가</button>
            </div>
          </form>
        </div>
      </section>
      <div class="modal-box" style="display: none;">
        <div class="modal-wrap">
          <div>비밀번호 변경</div>
          <div class="content-font">비밀번호는 8~16자리 영문 대소문자, 숫자, 특수문자를 사용할 수 있습니다.</div>
          <form class="change-pw" method="post" action="/mypage/change/pw">
            <fieldset>
              <div class="pw-item">
                <label class="content-font">현재 비밀번호</label>
                <div>
                  <input type="password" name="password" class="password" style="ime-mode:disabled" autocomplete="off" required>
                  <div></div>
                </div>
              </div>
              <div class="pw-item">
                <label class="content-font">새로운 비밀번호</label>
                <div>
                  <input type="password" name="new_password" class="new-password1" maxlength="16" style="ime-mode:disabled" autocomplete="off" required>
                  <div class="msgpw1"></div>
                </div>
              </div>
              <div class="pw-item">
                <label class="content-font">새로운 비밀번호 확인</label>
                <div>
                  <input type="password" class="new-password2" style="ime-mode:disabled" autocomplete="off" required>
                  <div class="msgpw2"></div>
                </div>
              </div>
            </fieldset>
            <div class="submit-pw">
              <button type="reset" class="content-font pw-reset" onclick="modal_none()">취소</button>
              <button type="submit" class="content-font pw-submit" disabled>수정</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <footer-component></footer-component>
  </footer>
  <!-- footer end -->
  <totop-component></totop-component>
  <script type="module" src="/js/webcomponent.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer src="/js/mypage_profile.js"></script>
</body>
</html>