<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:description" content="사회복지기관 리뷰 서비스 NeedU"/>
  <meta property="og:image" content="https://github.com/Code-KHJ/Needu/assets/124508326/39be237d-699c-42fc-aa1b-8b3e4fe22cfe"/>
  <link rel="icon" href="/styles/images/favicon.svg">
  <title>기관검색</title>

  <link href="/styles/style_reset.css" rel="stylesheet" type="text/css">
  <link href="/styles/webcomponent.css" rel="stylesheet">
  <link href="/styles/review_search.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="header_wrap">
      <header-component data-name="{{User.nickname}}"></header-component>
    </div>
    <main>
      <section>
        <div class="search-section">
          <form class="search" action="/review/search" method="get">
            <fieldset>
              <div class="filter">
                <div class="city">
                  <label>지역</label>
                  <div>
                    <div>
                      <div class="city-sido">전체</div>
                      <div class="sido-list" style="display: none;">
                        <ul>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="서울">
                             <span>서울</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="인천">
                             <span>인천</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="대전">
                             <span>대전</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="광주">
                             <span>광주</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="대구">
                             <span>대구</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="울산">
                             <span>울산</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="부산">
                             <span>부산</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="경기">
                             <span>경기</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="강원">
                             <span>강원</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="충북">
                             <span>충북</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="충남">
                             <span>충남</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="전북">
                             <span>전북</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="전남">
                             <span>전남</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="경북">
                             <span>경북</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="경남">
                             <span>경남</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="제주">
                             <span>제주</span>
                            </label>
                          </li>
                          <li>
                            <label class="sido-label">
                             <input type="checkbox" name="" value="세종">
                             <span>세종</span>
                            </label>
                          </li>
                        </ul>
                        <div>
                          <button type="button" class="reset-sido">초기화</button>
                          <button type="button" class="submit-sido">적용</button>  
                        </div>
                      </div>
                    </div>
                    <div class="checked-list"></div>
                    <input class="city-input" name="city" value="" style="display: none;">
                  </div>
                </div>
                <div class="score">
                  <label>별점</label>
                  <div>
                    <button type="button" class="btn-score" value="1"><img src="/styles/images/Star_1.png" alt="1점"></button>
                    <button type="button" class="btn-score" value="2"><img src="/styles/images/Star_2.png" alt="2점"></button>
                    <button type="button" class="btn-score" value="3"><img src="/styles/images/Star_3.png" alt="3점"></button>
                    <button type="button" class="btn-score" value="4"><img src="/styles/images/Star_4.png" alt="4점"></button>
                    <button type="button" class="btn-score" value="5"><img src="/styles/images/Star_5.png" alt="5점"></button>
                  </div>
                  <input name="score" class="score-input" style="display: none;">
                </div>
                <div class="hashtag">
                  <label>키워드</label>
                  <div class="tags">
                    <button type="button" value="#역세권위치">#역세권위치</button>
                    <button type="button" value="#시차출근제운영">#시차출근제운영</button>
                    <button type="button" value="#성과급지급">#성과급지급</button>
                    <button type="button" value="#재택근무운영">#재택근무운영</button>
                    <button type="button" value="#간식제공">#간식제공</button>
                    <button type="button" value="#자유로운휴가">#자유로운휴가</button>
                    <button type="button" value="#반차/반반차운영">#반차/반반차운영</button>
                    <button type="button" value="#고급사양의업무장비">#고급사양의업무장비</button>
                    <button type="button" value="#수평적호칭">#수평적호칭</button>
                    <button type="button" value="#편안한자율복장">#편안한자율복장</button>
                    <button type="button" value="#생일축하금지급">#생일축하금지급</button>
                    <button type="button" value="#팀회식비지원">#팀회식비지원</button>
                    <button type="button" value="#사내동아리활동비지원">#사내동아리활동비지원</button>
                    <button type="button" value="#자기계발비지원">#자기계발비지원</button>
                    <button type="button" value="#야근식대지원">#야근식대지원</button>
                    <button type="button" value="#야근택시비지원">#야근택시비지원</button>
                  </div>
                  <input name="hashtag" class="hashtag-input" value style="display: none;">
                </div>
              </div>
              <div class="search-main">
                <div class="corp">
                  <label>기관명</label>
                  <input type="text" name="corp_name" class="corpname-input"placeholder="기관 이름을 입력해주세요">
                </div>
                <div class="buttons">
                  <button class="submit-search" type="submit">검색</button>
                  <button class="reset-search" type="button" onclick="resetAll()">초기화</button>
                </div>
              </div>
            </fieldset>
            <button type="button" class="btn-filter" onclick="filter_active()">
              <img class="filter-black" src="/styles/images/btn_filter.png">
              <img class="filter-blue" src="/styles/images/btn_filter_blue.png" style="display: none;">
            </button>
          </form>
        </div>
      </section>
      <section>
        <div class="list-section">
          <div class="order">
            <select name="order">
              {% if Order == 'count' %}
              <option value="count">리뷰많은순</option>
              <option value="score">별점순</option>
              {% else %}
              <option value="score">별점순</option>
              <option value="count">리뷰많은순</option>
              {% endif %}
            </select>
          </div>
          {% if Corp_data.length > 0 %}
          <ul class="corp-wrap">
            {% for corp in Corp_data %}
            <li class="corp-li">
              <div class="corp-img">{{corp.Corp_name.slice(0,2)}}</div>
              <div class="corp-data">
                <div>
                  <h1><a href="/review/corp/{{corp.Corp_name}}">{{corp.Corp_name}}</a></h1>
                  <p>{{corp.city}} {{corp.gugun}}</p>
                </div>
                <div class="corp-hash">
                  <p>{{corp.hashTop1}}</p>
                  <p>{{corp.hashTop2}}</p>
                  <p>{{corp.hashTop3}}</p>
                  <p>{{corp.hashTop4}}</p>
                </div>
              </div>
              <div class="corp-score">
                <div>
                  <img src="/styles/images/Star_1.png">
                  {% if corp.avg_total == undefined %}
                  <p>0.0<span> (0)</span></p>
                  {% else %}
                  <p>{{corp.avg_total}}<span> ({{corp.cnt}})</span></p>
                  {% endif %}
                </div>
                <a href="/review/corp/{{corp.Corp_name}}">리뷰보기</a>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="result-none-wrap">
            <img src="/styles/images/search_none.png">
            <div>결과가 없습니다. <button type="button" class="btn_addCorp">기관 등록하기</button></div>
          </div>
          <register-modal></register-modal>
          {% endif %}
          <div class="page-wrap">
            <div class="prev"></div>
            <div class="pages"></div>
            <div class="next"></div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <div class="sidebar">사이드바</div>
  <footer>
    <footer-component></footer-component>
  </footer>
  <!-- footer end -->
  <totop-component></totop-component>
  <script type="module" src="/js/webcomponent.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script defer src="/js/review_search.js"></script>
  <script defer src="/js/modules.js"></script>
</body>
</html>