<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>review</title>
	<link href="/styles/style_reset.css" rel="stylesheet" type="text/css">
	<link href="/styles/webcomponent.css" rel="stylesheet">
	<link href="/styles/review.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div id="header_wrap">
			<header-component data-name="{{User.nickname}}"></header-component>
		</div>
		<main>
			<div class="corp_info_wrap">
				<div class="div_line"></div>
				<div class="corp_info">
					<div class="corp_info_image">기업이미지</div>
					<div class="corp_info_data">
						<div>
							<span id="Corp_name">{{Corp.name}}</span>
							<span>{{Corp.location}}</span>    
						</div>
						<div>
							<div class="star_bg">
								<span style="width:{{Corp.avg_total*20}}%"></span>
							</div>
							<span>{{Corp.avg_total}}</span>
							<span>({{Corp.cnt}}개 리뷰)</span>
						</div>
						<ul class="hashtag_top">
							<li>{{hash[0].hash}}</li>
							<li>{{hash[1].hash}}</li>
							<li>{{hash[2].hash}}</li>
							<li>{{hash[3].hash}}</li>
						</ul>
					</div>
					<a href="/review_write/{{Corp.name}}" class="btn_review">이 기관 리뷰하기</a>
				</div>
				<a href="/review_write/{{Corp.name}}" class="btn_write"></a>
			</div>
			<div class="contents_wrap">
				<div class="contents_main">
					<div class="total_score">
						<div class="total_score_corpname">{{Corp.name}} 리뷰</div>
						<div class="total_score_wrap">
							<div class="total_score_main">
								<p>{{Corp.avg_total}}</p>
								<div class="star_bg">
									<span style="width: {{Corp.avg_total*20}}%"></span>
								</div>
								<p>{{Corp.cnt}}개 리뷰</p>
							</div>
							<ul class="total_score_detail">
								<li class="total_detail_star">
									<span>{{Corp.avg_career.toFixed(1)}}</span>
									<span></span>
									<span>커리어 향상</span>
								</li>
								<li class="total_detail_star">
									<span>{{Corp.avg_worklife.toFixed(1)}}</span>
									<span></span>
									<span>업무와 삶의 균형</span>
								</li>
								<li class="total_detail_star">
									<span>{{Corp.avg_welfare.toFixed(1)}}</span>
									<span></span>
									<span>복리후생</span>
								</li>
								<li class="total_detail_star">
									<span>{{Corp.avg_culture.toFixed(1)}}</span>
									<span></span>
									<span>조직문화</span>
								</li>
								<li class="total_detail_star">
									<span>{{Corp.avg_leadership.toFixed(1)}}</span>
									<span></span>
									<span>리더십</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="contents" id="contents">
						<ul id="content">
							{% for review in content %}
							<li class="contents_review">
								<div class="review_star">
									<p>{{review.total_score.toFixed(1)}}</p>
									<div class="btn_star_detail">
										<div class="star_bg">
											<span style="width: {{review.total_score*20}}%"></span>
										</div>
										<button class="star_detail_open"></button>
									</div>
									<div class="star_detail" style="display: none;">
										<div>
											<div class="star_bg">
												<span style="width: {{review.career_score*20}}%"></span>
											</div>
											<p>커리어 향상</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{review.worklife_score*20}}%"></span>
											</div>
											<p>업무와 삶의 균형</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{review.welfare_score*20}}%"></span>
											</div>
											<p>복리후생</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{review.culture_score*20}}%"></span>
											</div>
											<p>조직 내 문화</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{review.leadership_score*20}}%"></span>
											</div>
											<p>리더십</p>
										</div>
									</div>
								</div>
								<div class="review_comment">
									<div class="highlight">
										<p>{{review.highlight}}</p>
										<div>
											<span></span>
											{% if review.last_date == '9999-12' %}
											<span>현직원</span>
											{% else %}
											<span>전직원</span>
											{% endif %}
											<span>{{ review.nickname.slice(0,1) }}{{'*'.repeat(review.nickname.length - 1)}}</span>
											<span>{{review.type}}</span>
											<span>{{review.date}}</span>
										</div>
									</div>
									<div class="pros_cons">
										<p>장점</p>
										<p>{{review.pros}}</p>
									</div>
									<div class="pros_cons">
										<p>단점</p>
										<p>{{review.cons}}</p>
									</div>
									<div class="comment_hashtag_wrap">
										<div class="hashtag_fade"></div>
										<div class="comment_hashtag">
											<span>{{review.hashtag_1}}</span>
											<span>{{review.hashtag_2}}</span>
											<span>{{review.hashtag_3}}</span>
											<span>{{review.hashtag_4}}</span>
											<span>{{review.hashtag_5}}</span>
										</div>	
									</div>
									<button class="comment_like">
										<span></span>
										<span>도움이 돼요</span>
										<span>({{review.likes}})</span>
									</button>
								</div>
							</li>
							{% endfor %}
							<div id="more"><button></button></div>
						</ul>
					</div>
				</div>
				<div class="sidebar">
					<p>다른 기관 리뷰도 찾아보기</p>
					<input>
					<div class="side_contents">
						<ul>
							<li>
								<p>기관명</p>
								<div>
									<div class="star_bg">
										<span style="width: 50%"></span>
									</div>
									<span>3.0</span>
									<span>(000개 리뷰)</span>		
								</div>
								<div>
									<p>fadshflkhwa;lehf;lwehlweahwe;hkwlefkhlwehwfeklhfwlkehfweklhefwlkewf후기</p>
									<p>강남구 | 현직원 | 일시</p>
									<button>리뷰보기</button>
								</div>
							</li>
							<li>
								<p>기관명</p>
								<div>
									<div class="star_bg">
										<span style="width: 50%"></span>
									</div>
									<span>3.0</span>
									<span>(000개 리뷰)</span>		
								</div>
								<div>
									<p>fadshflkhwa;lehf;lwehlweahwe;hkwlefkhlwehwfeklhfwlkehfweklhefwlkewf후기</p>
									<p>강남구 | 현직원 | 일시</p>
									<button>리뷰보기</button>
								</div>
							</li>
							<li>
								<p>기관명</p>
								<div>
									<div class="star_bg">
										<span style="width: 50%"></span>
									</div>
									<span>3.0</span>
									<span>(000개 리뷰)</span>		
								</div>
								<div>
									<p>fadshflkhwa;lehf;lwehlweahwe;hkwlefkhlwehwfeklhfwlkehfweklhefwlkewf후기</p>
									<p>강남구 | 현직원 | 일시</p>
									<button>리뷰보기</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<footer-component></footer-component>
		</footer>
	</div>
	<totop-component></totop-component>
	<script type="module" src="/js/webcomponent.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script defer src="/js/review.js"></script>
</body>
</html>