<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
	<meta property="og:description" content="사회복지기관 리뷰 서비스 NeedU"/>
	<meta property="og:image" content="https://github.com/Code-KHJ/Needu/assets/124508326/39be237d-699c-42fc-aa1b-8b3e4fe22cfe"/>
	<link rel="icon" href="/styles/images/favicon.svg">
	<title>기관리뷰</title>
	<link href="/styles/style_reset.css" rel="stylesheet" type="text/css">
	<link href="/styles/webcomponent.css" rel="stylesheet">
	<link href="/styles/review_detail.css" rel="stylesheet" type="text/css">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G5XZB713D0"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-G5XZB713D0');
	</script>
</head>
<body>
	<div class="container">
		<div id="header_wrap">
			<header-component data-name="{{User.nickname}}"></header-component>
		</div>
		<main>
			<div class="corp_info_wrap">
				<div class="div_line"></div>
				<div class="corp_info">
					<div class="corp_info_image"><img src="/styles/images/ico_building.png"></div>
					<div class="corp_info_data">
						<div>
							<span id="Corp_name">{{Corp.name}}</span>
							<span>{{Corp.city+" "+Corp.gugun}}</span>    
						</div>
						{% if cnt %}
						<div>
							<div class="star_bg">
								<span style="width:{{Corp.avg_total*20}}%"></span>
							</div>
							<span>{{Corp.avg_total}}</span>
							<span>({{Corp.cnt}}개 리뷰)</span>
						</div>
						<ul class="hashtag_top">
							<li>{{hash[0].hash}}</li>
							<li>{{hash[1].hash}}</li>
							<li>{{hash[2].hash}}</li>
							<li>{{hash[3].hash}}</li>
						</ul>
						{% else %}
						<div>
							<div class="star_bg">
								<span style="width:{{Corp.avg_total*20}}%"></span>
							</div>
							<span>0.0</span>
							<span>({{Corp.cnt}}개 리뷰)</span>
						</div>
						{% endif %}
					</div>
					<button type="button" onclick="location.href='/review/write/corp/{{Corp.name}}'" class="btn_review">이 기관 리뷰하기</button>
				</div>
				<button type="button" onclick="location.href='/review/write/corp/{{Corp.name}}'" class="btn_write"></button>
			</div>
			<div class="contents_wrap">
				<div class="contents_main">
					{% if cnt %}
					<div class="total_score">
						<div class="total_score_corpname">{{Corp.name}} 리뷰</div>
						<div class="total_score_wrap">
							<div class="total_score_main">
								<p>{{Corp.avg_total}}</p>
								<div class="star_bg">
									<span style="width: {{Corp.avg_total*20}}%"></span>
								</div>
								<p>{{Corp.cnt}}개 리뷰</p>
							</div>
							<ul class="total_score_detail">
								<div>
									<li class="total_detail_star">
										<span>{{Corp.avg_growth}}</span>
										<span></span>
										<span>성장 가능성</span>
									</li>
									<li class="total_detail_star">
										<span>{{Corp.avg_leadership}}</span>
										<span></span>
										<span>리더십</span>
									</li>
									<li class="total_detail_star">
										<span>{{Corp.avg_reward}}</span>
										<span></span>
										<span>급여 및 복지</span>
									</li>
								</div>
								<div>
									<li class="total_detail_star">
										<span>{{Corp.avg_worth}}</span>
										<span></span>
										<span>일 가치감</span>
									</li>
									<li class="total_detail_star">
										<span>{{Corp.avg_culture}}</span>
										<span></span>
										<span>사내 문화</span>
									</li>
									<li class="total_detail_star">
										<span>{{Corp.avg_worklife}}</span>
										<span></span>
										<span>워라밸</span>
									</li>
								</div>
							</ul>
						</div>
					</div>
					{% else %}
					<div class="total_score">
						<div class="total_score_corpname">아직 작성된 리뷰가 없습니다.</div>
					</div>
					{% endif %}
					<div class="contents" id="contents">
						{% if content %}
						<ul id="content">
							<li class="contents_review">
								<div class="review_star">
									<p>{{content.total_score}}</p>
									<div class="btn_star_detail">
										<div class="star_bg">
											<span style="width: {{content.total_score*20}}%"></span>
										</div>
										<button type="button" class="star_detail_open" onclick="star_detailClick(this)"></button>
									</div>
									<div class="star_detail" style="display: none;">
										<div>
											<div class="star_bg">
												<span style="width: {{content.growth_score*20}}%"></span>
											</div>
											<p>성장 가능성</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{content.leadership_score*20}}%"></span>
											</div>
											<p>리더십</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{content.reward_score*20}}%"></span>
											</div>
											<p>급여 및 복지</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{content.worth_score*20}}%"></span>
											</div>
											<p>일 가치감</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{content.culture_score*20}}%"></span>
											</div>
											<p>사내 문화</p>
										</div>
										<div>
											<div class="star_bg">
												<span style="width: {{content.worklife_score*20}}%"></span>
											</div>
											<p>워라밸</p>
										</div>
									</div>
								</div>
								<div class="review_comment">
									<div class="highlight">
										<p>{{content.highlight}}</p>
										<div>
											{% if content.last_date == '9999-12' %}
											<img class="work-status" src="/styles/images/ico_working.png">
											<span>현직원</span>
											{% else %}
											<img class="work-status" src="/styles/images/ico_worked.png">
											<span>전직원</span>
											{% endif %}
											<span>{{ content.nickname.slice(0,1) }}{{'*'.repeat(content.nickname.length - 1)}}</span>
											<span>{{content.type}}</span>
											<span>{{content.date}}</span>
										</div>
									</div>
									<div class="pros_cons">
										<p>장점</p>
										<p>{{content.pros}}</p>
									</div>
									<div class="pros_cons">
										<p>단점</p>
										<p>{{content.cons}}</p>
									</div>
									<div class="comment_hashtag_wrap">
										<div class="hashtag_fade"></div>
										<div class="comment_hashtag">
											<span>{{content.hashtag_1}}</span>
											<span>{{content.hashtag_2}}</span>
											<span>{{content.hashtag_3}}</span>
											<span>{{content.hashtag_4}}</span>
											<span>{{content.hashtag_5}}</span>
											<span>{{content.hashtag_6}}</span>
											<span>{{content.hashtag_7}}</span>
											<span>{{content.hashtag_8}}</span>
											<span>{{content.hashtag_9}}</span>
											<span>{{content.hashtag_10}}</span>
											<span>{{content.hashtag_11}}</span>
											<span>{{content.hashtag_12}}</span>
											<span>{{content.hashtag_13}}</span>
											<span>{{content.hashtag_14}}</span>
											<span>{{content.hashtag_15}}</span>
											<span>{{content.hashtag_16}}</span>
										</div>	
									</div>
									<button type="button" class="comment_like" onclick="likesClick(this)">
										<span></span>
										<span>도움이 돼요</span>
										<span>(<span>{{content.likes}}</span>)</span>
									</button>
								</div>
							</li>
							<div id="more"><button></button></div>
						</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer>
		<footer-component></footer-component>
	</footer>
	<totop-component></totop-component>
	<script type="module" src="/js/webcomponent.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script defer src="/js/review_detail.js"></script>
</body>
</html>