@charset "utf-8";

main {
  margin-top: 120px;
  width: 100%;
  .div-line {
    height: 120px;
    background-color: #ffd338;
  }
}
section {
  margin: 0 40px;
  margin-top: 80px;
  margin-bottom: 200px;
  max-width: 740px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
  section {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 200px;
    min-width: 660px;
  }
}

/* PC 1024 사이즈 반응형 */
@media screen and (min-width: 1024px) {
  section {
  }
}
