@charset "utf-8";

.mo_none{
  display: none;
}
.content-font{
  font-size: 1.4rem;
}

/* header end */
main{
  width:100%;
  margin-top: 240px;
}
.main_wrap{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width:80%;
  margin:80px auto;
}
.login_wrap{
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 28px;
  border:1px solid #aaa;
  border-radius: 12px;
  background-color: #eeefff;
}
.login_wrap>h1{
  text-align: center;
  font-size: 1.8rem;
}
.login_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login_input_wrap{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#userid{
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  font-size: 1.4rem;
}
#userpw{
  width: 100%;
  padding: 16px 12px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  font-size: 1.4rem;
  margin-top: -1px;
}
.login_input_wrap form input::placeholder{
  color: #000;
  font-size: 1.2rem;
  font-family: 'NanumSquareAcl';
}
.login_option{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}
.save_id>input{
  width: 14px;
  height: 14px;
}
.save_id>label{
  margin-left: 5px;
  font-size: 1.2rem;
  vertical-align: top;
}
.login_option>button{
  font-size: 1.2rem;
  vertical-align: top;
  font-family: 'NanumSquareAcl';
}
#submit_user{
  width: 100%;
  padding: 14px 52px;
  border-radius: 5px;
  background-color: #6269f5;
  color: #fafafa;
  font-size: 1.4rem;
  font-family: 'NanumSquareAcb';
  cursor: pointer;
}
.to_signup{
  margin: 0 auto;
  font-size: 1.2rem;
}
.to_signup>a{
  margin-left: 16px;
  font-family: 'NanumSquareBold';
}
.ad_wrap{
  width:270px;
  background-color: #aaa;
}
/* main end */

/* 아이디/비밀번호 찾기 모달 */
.search-info{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
}
.search-info>fieldset{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  gap: 20px;
}
.form-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.form-item>label{
  width: fit-content;
  white-space: nowrap;
  line-height: 37.5px;
}
.form-item>div{
  width: 100%;
}
.form-item input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #aaa;
}
.form-item-input{
  display: flex;
  flex-direction: row;
}
.return-userid{
  width: 100%;
  font-size: 1.4rem;
  line-height: 37.5px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.search-info>fieldset button{
  margin-left: auto;
  width: 60px;
  height: 37.5px;
  border-radius: 5px;
  background: linear-gradient(0deg, #ccc 0%, #ccc 100%);
  color: #444;
  cursor: pointer;
}
.search-info>fieldset button:hover{
  background: #6269f5;
  color: #fff;
}
.checkmsg{
  padding: 0 12px;
  font-size: 1.2rem;
  margin-top: 5px;
  overflow-wrap: break-word;
  color: #f44;
}


/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
  .tab_none{
    display: none;
  }
  .tab_show{
    display: block;
  }
  .login_box{
    flex-direction: row;
    gap: 8px;
  }
  .login_input_wrap{
    width: calc(100% - 88px);
  }
  #submit_user{
    width: 80px;
    height: 100px;
    padding: 20px;
  }
  .form-item{
    width: 440px;
  }

}
/* PC 1024 사이즈 반응형 */
@media screen and (min-width: 1024px){
  .pc_show{
    display: block;
  }
  .main_wrap{
    gap: 50px;
  }
  #userid, #userpw, #submit_user{
    font-size: 1.6rem;
  }
  .login_input_wrap{
    width: calc(100% - 90px);
  }
  #submit_user{
    width: 82px;
  }
  .login_input_wrap form input::placeholder{
    font-size: 1.4rem;
  }
  .to_signup{
    font-size: 1.4rem;
  }
}