@charset "utf-8";

.mo_none{
  display: none;
}

/* header end */
main{
  width:100%;
  margin-top: 240px;
}
.main_wrap{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width:80%;
  margin:80px auto;
}
.login_wrap{
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 28px;
  border:1px solid #aaa;
  border-radius: 12px;
  background-color: #eeefff;
}
.login_wrap>h1{
  text-align: center;
  font-size: 1.8rem;
}
.login_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login_input_wrap{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#userid{
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  font-size: 1.4rem;
}
#userpw{
  width: 100%;
  padding: 16px 12px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  font-size: 1.4rem;
  margin-top: -1px;
}
.login_input_wrap form input::placeholder{
  color: #000;
  font-size: 1.2rem;
  font-family: 'NanumSquareAcl';
}
.login_option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
.save_id>input{
  width: 14px;
  height: 14px;
}
.save_id>label{
  margin-left: 5px;
  font-size: 1.2rem;
  vertical-align: top;
}
.login_option>button{
  font-size: 1.2rem;
  vertical-align: top;
  font-family: 'NanumSquareAcl';
}
#submit_user{
  width: 100%;
  padding: 14px 52px;
  border-radius: 5px;
  background-color: #6269f5;
  color: #fafafa;
  font-size: 1.4rem;
  font-family: 'NanumSquareAcb';
  cursor: pointer;
}
.to_signup{
  margin: 0 auto;
  font-size: 1.2rem;
}
.to_signup>a{
  margin-left: 16px;
  font-family: 'NanumSquareBold';
}
.ad_wrap{
  width:270px;
  background-color: #aaa;
}
/* main end */

/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
  .login_box{
    flex-direction: row;
    gap: 8px;
  }
  .login_input_wrap{
    width: calc(100% - 88px);
  }
  #submit_user{
    width: 80px;
    height: 100px;
    padding: 20px;
  }
}
/* PC 1024 사이즈 반응형 */
@media screen and (min-width: 1024px){
  .pc_show{
    display: block;
  }
  .main_wrap{
    gap: 50px;
  }
  #userid, #userpw, #submit_user{
    font-size: 1.6rem;
  }
  .login_input_wrap{
    width: calc(100% - 90px);
  }
  #submit_user{
    width: 82px;
  }
  .login_input_wrap form input::placeholder{
    font-size: 1.4rem;
  }
  .to_signup{
    font-size: 1.4rem;
  }
}