@charset "utf-8";
/* z-index: madal12 modal-box11 header10; button9 */
button{
  color: #000;
}
.mo_none{
  display: none;
}
.container{
  overflow:visible;
}
.top-banner{
  background: #6269f5;
  padding: 40px 10% 20px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-banner-text>p:nth-of-type(1){
  font-size: 1.6rem;
  font-weight: 400;
}
.top-banner-text>p:nth-of-type(1)>strong{
  font-weight: 1800;
}
.top-banner-text>p:nth-of-type(2){
  font-size: 1.2rem;
}
#header_wrap{
  overflow: auto;
  position: sticky;
  top: 0;
}
.banner{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #2A2F9C;
  color: #fff;
}
.banner-search{
  margin: 60px auto;
  width: 80%;
}
.banner-search>h1{
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.banner-search>div{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.6rem;
  line-height: 19px;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 10px 20px;
}
.search fieldset{
  display: flex;
  justify-content: space-between;
}
.user-input{
  width: calc(100% - 20px);
}
.search select{
  width: 50px;
  height: 20px;
  padding: 0 10px 0 0;
  border: 0px;
  appearance: none;
  background: url(images/btn_select.svg) no-repeat right center;
  background-size: 10px 10px;
  font-size: 1.4rem;
}
.search input{
  width: calc(100% - 70px);
  margin: 0 0 0 10px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font-size: 1.4rem;
}
.search input::placeholder{
  color: #000;
  font-size: 1.4rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-text-fill-color: #fff !important;
}
#btnSubmit{
  width: 20px;
  height: 20px;
  float: right;
  background: url(images/btn_search_white.svg) no-repeat center/contain;
  cursor: pointer;
}
/* .auto_corp{
  margin-top: 25px;
  margin-left: 54px;
  color: #fff;
} */
.banner-image{
  display: none;
  position: absolute;
  width: 370px;
  height: 410px;
  background: url(images/banner_review.png) no-repeat;
  background-size: 370px 410px;
  right: 54px;
  bottom: 32px;
}
.first-contents{
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.first-contents h1{
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to top, #eeefff 50%, transparent 50%);
}
.recent-reviews{
  padding: 20px;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  text-align: center;
}
.recent-reviews>div{
  display: flex;
  height: 370px;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
  padding-bottom: 5px;
}
.review{
  display: block;
  width: 99% !important;
  height: 110px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.review>div{
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
}
.review-corpname{
  font-weight: 700;
}
.review>div>span:nth-of-type(2), .review>div>span:nth-of-type(3){
  color: #888;
}
.review>p{
  margin-top: 20px;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.review>button{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.top-score{
  height: 638px;
  margin-top: 80px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  text-align: center;
  overflow: hidden;
}
.top-score-contents{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.top-score-item{
  display: flex;
  background: #efefef;
  gap: 20px;
  height: 120px;
  border-radius: 5px;
  padding: 25px 12px;
  cursor: pointer;
  text-align: left;
  position: relative;
}
.top-score-item>img{
  position: absolute;
  top: -12px;
  left: -5px;
}
.top-score-item>div:nth-of-type(1){
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 50px;
  background: radial-gradient(54.12% 54.12% at 50.00% 50.00%, #FFF 0%, #F9F9F9 100%, #F9F9F9 100%);
  font-size: 2.0rem;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
}
.top-score-item>div:nth-of-type(2){
  min-width: calc(100% - 90px);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ts-item-detail{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.ts-item-detail>p:nth-child(1){
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ts-item-detail>p:nth-child(2){
  font-size: 1.0rem;
}
.ts-item-detail>div{
  width: 70px;
  height: 14px;
}
.star_bg {
	position: relative;
	background: url(./images/star_bg.svg) no-repeat;
	background-size: contain;
}
.star_bg span{
	position: absolute;
	background: url(./images/star_selected.svg) no-repeat;
	width: 100%;
	height: 100%;
	background-size:cover;
}
.top-score-item>div:nth-of-type(2)>span{
  position: absolute;
  left: 90px;
  bottom: 0px;
  font-size: 2.8rem;
  font-weight: 700;
}
.top-score-contents>div:nth-child(1){
  background: #a0a6ff !important;
}
.top-score-contents>div:nth-child(1)>div:nth-of-type(1){
  background: radial-gradient(64.91% 64.91% at 44.29% 40.71%, rgba(249, 249, 249, 0.70) 0%, rgba(228, 228, 228, 0.70) 100%);
}
.top-score-banner{
  position: relative;
  background: linear-gradient(94.81deg, #A0A6FF 27.67%, #A0C0FF 83.5%);
  border-radius: 5px;
  width: 80%;
  height: 120px;
  padding: 20px 24px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
}
.top-score-banner>p:nth-child(1){
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}
.top-score-banner>p:nth-child(2){
  font-size: 2.0rem;
  font-weight: 700;
  color: #fff;
  margin-top: 8px;
}
.top-score-banner>img{
  margin-top: 20px;
}
.ts-banner-img{
  position: absolute;
  background: url(./images/banner_top_score.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 75px;
  right: 17px;
  bottom: 0px;
}
.second-contents{
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 40px 10% 0;
  background: #eeefff;
}
.second-contents h1{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
.second-contents>div:nth-of-type(1){
  position: relative;
  margin-top: 10px;
  background: #eeefff;
  padding: 30px 0px;
}
.second-contents>div:nth-of-type(1)>div{
  display: flex;
  justify-content: center;
}
.details{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 100%;
  max-width: fit-content;
  background-color: #ffffff;
}
/* 스크롤바 없애기 */
.details::-webkit-scrollbar {
  display: none;
}
.details>li{
  display: flex;
  height: 52px;
  padding: 14px 20px;
  gap: 2px;
}
.details>li>button{
  display: inline-block;
  white-space: nowrap;
  font-size: 1.6rem;
  cursor: pointer;
}
.details>li>img{
  width: 24px;
}
.select-detail{
  background: #c2C5F4 !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
}
.detail-top5{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 40px;
  overflow: scroll;
  margin: 30px 25px 10px;
  height: 300px;
}
/* 스크롤바 없애기 */
.detail-top5::-webkit-scrollbar {
  display: none;
}
.detail-top5-item{
  width: 226px;
  position: relative;
  background: #fafafa;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.detail-top5-no{
  position: absolute;
  width: 40px;
  height: 40px;
  background: #c2c5f4;
  border-radius: 5px 0px;
  color: #fff;
  font-size: 2.0rem;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
}
.detail-top5-content{
  width: 186px;
  margin: 24px 20px 32px;
}
.detail-top5-corp{
  text-align: right;
}
.detail-top5-corp>p:nth-of-type(1){
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 400;
}
.detail-top5-corp>p:nth-of-type(2){
  font-size: 1.0rem;
  font-weight: 400;
  color: #888;
  margin-top: 4px;
}
.detail-top5-highlight{
  margin-top: 20px;
  height: 75px;
}
.detail-top5-highlight>p{
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaaaaa;
}
.detail-top5-highlight>div{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
.detail-top5-highlight>div>img{
  width: 54px;
  height: 54px;
}
.detail-top5-highlight>div>span{
  display: flex;
  margin-left: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  align-items: end;
}
.detail-top5-details{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}
.detail-top5-details>li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-top5-details>li>p{
  font-size: 1.2rem;
  font-weight: 400;
  color: #aaaaaa;
}
.detail-top5-details>li>div{
  width: 75px;
  height: 15px;
}
.back{
  position: absolute;
  top: 246px;
  width: 40px;
  height: 50px;
  background: rgba(0,0,0,0.1);
  border-radius: 50px;
  cursor: pointer;
}
.back>span{
  display: block;
  width: 10px;
  height: 20px;
  margin: 15px;
  background: url(./images/ico_arrow_L1.png) no-repeat;
  background-size: contain;
}
.next{
  position: absolute;
  top: 246px;
  right: 0px;
  width: 40px;
  height: 50px;
  background: rgba(0,0,0,0.1);
  border-radius: 50px;
  cursor: pointer;
}
.next>span{
  display: block;
  width: 10px;
  height: 20px;
  margin: 15px;
  background: url(./images/ico_arrow_R1.png) no-repeat;
  background-size: contain;
}

/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
  .tab_show{
    display: block;
  }
  .top-banner{
    padding: 30px 7% 20px;
  }
  .top-banner-text{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
  }
  .top-banner-text>p:nth-of-type(1){
    font-size: 1.8rem;
  }
  .top-banner-text>p:nth-of-type(2){
    font-size: 1.4rem;
  }
  .banner-search{
    margin: 100px auto 200px;
    width: 86%;
  }
  .banner-search>h1{
    font-size: 3.2rem;
  }
  .banner-search>div{
    font-size: 1.8rem;
  }
  .search{
    margin-top: 50px;
    width: 50%;
    max-width: 540px;
  }
  .search select{
    width: 54px;
    font-size: 1.6rem;
  }
  .search input{
    margin: 0 0 0 10px;
    font-size: 1.6rem;
  }
  .search input::placeholder{
    font-size: 1.6rem;
  }
  .banner-image{
    display: block;
  }
  .first-contents{
    width: 86%;
  }
  .first-contents h1{
    font-size: 1.8rem;
  }
  .recent-reviews{
    padding: 20px 40px;
  }
  .recent-reviews>div{
    margin-top: 42px;
    height: 400px;
  }
  .review{
    height: 120px;
  }
  .review>div{
    gap: 25px;
    font-size: 1.6rem;
  }
  .review>p{
    margin-top: 28px;
    font-size: 1.6rem;
  }
  .review>button{
    font-size: 1.6rem;
  }
  .top-score{
    height: 358px;
  }
  .top-score-contents{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .top-score-item{
    width: 46.35%;
  }
  .ts-item-detail>p:nth-child(1){
    font-size: 1.6rem;
  }
  .ts-item-detail>p:nth-child(2){
    font-size: 1.2rem;
  }
  .ts-item-detail>div{
    width: 75px;
    height: 15px;
  }
  .top-score-banner{
    width: 86%;
    padding: 32px 24px;
  }
  .top-score-banner>p:nth-child(1){
    font-size: 1.6rem;
    line-height: 16px;
  }
  .top-score-banner>p:nth-child(2){
    font-size: 3.2rem;
    line-height: 32px;
  }
  .top-score-banner>img{
    position: absolute;
    margin-top: 0;
    left: 350px;
    bottom: 30px;
  }
  .ts-banner-img{
    width: 200px;
    height: 100px;
    right: 28px;
  }
  .second-contents{
    padding: 40px 7% 0;
  }
  .second-contents h1{
    font-size: 1.8rem;
  }
  .second-contents>div:nth-of-type(1){
    padding: 35px 0;
  }
  .detail-top5-corp>p:nth-of-type(2){
    font-size: 1.2rem;
  }
}

/* PC 1024 사이즈 반응형 */
@media screen and (min-width: 1024px) {
  .top-banner-text>p:nth-of-type(1){
    font-size: 2.0rem;
  }
  .top-banner-text>p:nth-of-type(2){
    font-size: 1.6rem;
  }
  .banner-search>h1{
    font-size: 4.0rem;
  }
  .banner-search>div{
    font-size: 2.0rem;
  }
  .search{
    padding: 10px 40px;
  }
  .search select{
    width: 90px;
  }
  .search input{
    width: calc(100% - 110px);
  }
  .banner-image{
    width: 415px;
    height: 450px;
    background-size: 415px 450px;
    right: 72px;
  }
  .first-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first-contents h1{
    font-size: 2.0rem;
  }
  .recent-reviews{
    width: 58.6%;
    padding: 20px 20px;
    height: 500px;
  }
  .top-score{
    margin-top: 0;
    width: 38%;
    height: 500px;
  }
  .top-score-contents{
    width: 100%;
    height: 260px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .top-score-item{
    width: 100%;    
  }
  .second-contents h1{
    font-size: 2.0rem;
  }
  
  .back{
    left: 0;
  }
  .next{
    right: 0;
  }
}

/* PC 1920 사이즈 반응형 */
@media screen and (min-width: 1280px) {
  .top-banner{
    padding: 30px 16.5% 20px;
  }
  .banner-search{
    margin: 140px auto 270px;
    width: 67%;
  }
  .banner-image{
    width: 500px;
    height: 555px;
    background-size: 500px 555px;
    right: 16.5%;
  }
  .first-contents{
    width: 67%;
  }
  .top-score-banner{
    width: 67%;
  }
  .second-contents{
    padding: 40px 16.5% 0;
  }
  .details>li{
    padding: 14px 28px;
  }
}

/* PC 1920 사이즈 반응형 */
@media screen and (min-width: 1920px) {
  .recent-reviews{
    width: 49%;
  }
  .top-score{
    width: 49%;
  }
  .top-score-contents{
    flex-wrap: wrap;
    height: 400px;
  }
  .top-score-item{
    width: 48.5%;    
  }
  .top-score-banner{
    padding: 32px 24px;
  }
  .top-score-banner>p:nth-child(1){
    font-size: 1.6rem;
    line-height: 16px;
  }
  .top-score-banner>p:nth-child(2){
    font-size: 3.2rem;
    line-height: 32px;
  }
  .ts-banner-img{
    width: 200px;
    height: 100px;
  }
  .details>li{
    padding: 14px 40px;
  }
}