@charset "utf-8";
/* z-index: modal 11, header10; button9 */

.container{
	width:100%;height:100%;
	background-color: #f5f5f5;
	overflow:auto;
}
/* 모달작업 보류 */
/* .modal{
	display:;
	position:fixed;
	top:10%;left:10%;
	width:80vw;
	height:80vh;
	background:#fff;
	z-index: 11;
}
.modal>div:nth-of-type(1) {
	display: flex;
	width: 100%;
	height: 6.7%;
	background-color: #3D47FF;
	padding: 13px 20px;
	align-items: center;
	font-size: 2.4rem;
	color: #ffffff;
}
.modal_page {
	width: 100%;
	height: auto;
}
.modal_page>div:nth-of-type(1) {
	height: 12px;
	background-color: #ffffff;
}
.modal_page>div:nth-of-type(1)>div {
	height: 100%;
	background-color: #1e2480;
}
.modal_page>div:nth-of-type(2) {
	height: 70%;
	margin-top: 30px;
	margin-left: 40px;
}
.modal_page1_form {
	height: 70%;
	margin-top: 30px;
	margin-left: 40px;
}
.modal_page1_form>p {
	font-size: 1.8rem;
	line-height: 140%;
}
.modal_page1_form>div {
	width: 71%;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	gap: 40px;
}
.modal_page1_item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal_page1_item>label {
	font-weight: 700;
	font-size: 1.8rem;
}
.modal_page1_item>input {
	width: 71.68%;
	padding: 17px 20px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	font-size: 1.8rem;
}
.work_date {
	width: 71.68%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.work_date>div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
}
.work_date>div>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}
.work_date>div>div>span {
	font-size: 1.8rem;
}
.work_date>div>div>div {
	display: flex;
	flex-direction: row;
}
.work_date>div>div>div>input {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}
.work_date>div>div>div>label {
	margin-left: 4px;
	font-size: 1.8rem;
}
.modal_corp_info {
	display: flex;
	flex-direction: row;
	height: 80px;
}
.modal_corp_info>div:nth-of-type(1) {
	width: 100px;
	background-color: #d9d9d9;
}
.modal_corp_info>div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	gap: 4px;
}
.modal_corp_info>div:nth-of-type(2)>p:nth-of-type(1) {
	height: 28px;
	font-size: 2.0rem;
	font-weight: 700;
}
.modal_corp_info>div:nth-of-type(2)>p:nth-of-type(2) {
	height: 22px;
	font-size: 1.6rem;
}
.modal_corp_info>div:nth-of-type(2)>div {
	height: 22px;
	display: flex;
	flex-direction: row;
	font-size: 1.6rem;
}
.modal_corp_info>div:nth-of-type(2)>div>div {
	color: #aaaaaa;
	margin-left: 8px;
}



.modal_next {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 28px;
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: #eeeeee;
}
.modal_next>button:nth-of-type(1) {
	width: 20%;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 1.8rem;
}
.modal_next>button:nth-of-type(2) {
	width: 20%;
	background-color: #000dff;
	border-radius: 5px;
	font-size: 1.8rem;
	color: #ffffff;
} */
header{
	width:100%;
	height:96px ;
	position: fixed;
	background: #fafafa;
	z-index: 10;
}
.header_wrap{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width:78.7%;
	height:28px;
	margin: 0 auto;
	margin-top: 40px;
}
div h1{
	display:flex;
	width:140px;
	height:28px;
	font-size:2.4rem;
	font-weight: normal;
}
.blind_btn_ham {
	display: flex;
	padding: 0px;
	width: 32px;
	height:24px;
	position:relative;
	background:url(./images/btn_ham.png) no-repeat center/contain;
	cursor:pointer;
}
main{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 96px;
	overflow: hidden;
}
.corp_info_wrap{
	width: 100%;
	overflow: hidden;
}
.div_line {
	width: 100%;
	height: 120px;
	background-color: #1e2480;
}
.corp_info {
	display: flex;
	position: relative;
	width: 78.7%;
	height: 260px;
	margin: auto;
	margin-top: -40px;
}
.corp_info_image {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #fff;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
}
.corp_info_data {
	float: right;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 67.5%;
	height: 121px;
	margin: 0 auto;
	margin-top: 60px;
	margin-left: 12px;
}
.corp_info_data div:nth-child(1) {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 16px;
}
.corp_info_data>div>span:nth-child(1) {
	font-size: 2.4rem;
}
.corp_info_data>div>span:nth-child(2) {
	font-size: 1.4rem;
	line-height: 16px;
}
.corp_info_data>div:nth-of-type(2){
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}
.corp_info_data div>div:nth-child(1) {
	width: 90px;
	height: 18px;
}
.corp_info_data>div:nth-of-type(2)>span:nth-of-type(1){
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 18px;
}
.corp_info_data>div:nth-of-type(2)>span:nth-of-type(2){
	font-size: 1.4rem;
	line-height: 16px;
	color: #aaaaaa;
}
.hashtag_top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1.4rem;
	line-height: 16px;
	align-items: center;
	gap: 12px;
	width: 100%;
	height: 44px;
}
.btn_review {
	width: 160px;
	height: 48px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #3d47FF;
	border-radius: 8px;
	font-size: 1.4rem;
	text-align: center;
	line-height: 48px;
	color: #fafafa;
	cursor: pointer;
}
.btn_write {
	position: fixed;
	width: 60px;
	height: 60px;
	right: 10%;
	bottom: 15%;
	background: url(./images/btn_write_modal.png) no-repeat center;
	background-size: 50%;
	background-color: #3d47FF;
	border-radius: 60px;
	cursor:pointer;
	z-index: 9;
}
.btn_toTop {
	position: fixed;
	width: 40px;
	height: 40px;
	right: calc(10% + 10px);
	bottom: 7%;
	background: url(./images/toTop_gray.png) no-repeat center;
	background-size: 100%;
	border-radius: 60px;
	cursor:pointer;
	z-index: 9;
}
.contents_wrap {
	width: 78.7%;
	margin: 0 auto;
	margin-top: 40px;
}
.contents_main {
	width: 100%;
}
.total_score {
	padding: 60px 48px;
	margin: 0 auto;
	background:#fff;
	border-radius: 5px;
}
.total_score_corpname {
	width: 100%;
	height: 23px;
	font-weight: 700;
	font-size: 2.0rem;
	line-height: 23px;
}
.total_score_wrap {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap !important;
	gap: 40px;
	margin: 0 auto;
	margin-top: 50px;
}
.total_score_main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 136px;
	gap: 8px;
}
.total_score_main p:nth-of-type(1) {
	font-weight: 800;
	font-size: 1.8rem;
	line-height: 20px;
}
.total_score_main div:nth-of-type(1) {
	width: 140px;
	height:28px;
}
.star_bg {
	position: relative;
	background: url(./images/star_bg.svg) no-repeat;
	background-size: contain;
}
.star_bg span{
	position: absolute;
	background: url(./images/star_selected.svg) no-repeat;
	width: 100%;
	height: 100%;
	background-size:cover;
}
.total_score_main p:nth-of-type(2) {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 14px;
	color: #aaaaaa;
}
.total_score_wrap ul {
	flex-basis: calc(100% - 206px);
	display: flex;
	max-width: 470px;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}
.total_detail_star {
	display: flex;
	flex-direction: row;
	height: 18px;
}
.total_detail_star span:nth-of-type(1) {
	font-weight: 800;
	font-size: 1.6rem;
	color: rgba(0,0,0,0.5);
}
.total_detail_star span:nth-of-type(2) {
	display: flex;
	width: 18px;
	height: 18px;
	margin-left: 6px;
	background: url(./images/Star.png);
	background-size: contain;
}
.total_detail_star span:nth-of-type(3) {
	width: 88px;
	height: 18px;
	font-weight: 700;
	font-size: 1.6rem;
	letter-spacing: -0.02em;
	margin-left: 12px;
	color: #000;
}
.total_score_detail>li:nth-of-type(2)>span:nth-of-type(3){
	width: 108px;
}
.contents {
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fff;
}
.contents_review {
	padding: 60px 30px;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	border-radius: 5px;
}
.review_star {
	position: relative;
	width: 218px;
}
.review_star>p {
	font-weight: 800;
	font-size: 1.8rem;
}
.btn_star_detail {
	display: flex;
	align-items: center;
	margin-top: 8px;
	gap: 8px;
}
.btn_star_detail>div:nth-of-type(1) {
	width: 100px;
	height: 20px;
}
.btn_star_detail>button:nth-of-type(1) {
	width: 16px;
	height: 8px;
	background: url(./images/btn_detail.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.star_detail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 8px;
	padding: 20px 16px;
	gap: 4px;
	width: 218px;
	height: 136px;
	border: 1px solid #eeeeee;
}
.star_detail>div{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	height: 16px;
}
.star_detail>div>div{
	width: 80px;
	height: 16px;
}
.star_detail>div>p {
	width: 100px;
	height: 16px;
	font-weight: 400;
	font-size: 1.4rem;
	color: #aaaaaa;
}
.review_comment {
	display: flex;
	flex-direction: column;
	margin-top: 57px;
	gap: 40px;
	width: 100%;
}
.highlight>p {
	font-weight: 800;
	font-size: 1.8rem;
}
.highlight>div {
	display: flex;
	margin-top: 16px;
	gap: 4px;
}
.highlight>div>span:nth-of-type(1) {
	background: url(./images/airplane.png) no-repeat;
	width: 16px;
	height: 16px;
	background-size: contain;
}
.highlight>div>span:nth-of-type(2) {
	width: calc(100% - 16px);
	height: 16px;
	font-weight: 400    ;
	font-size: 1.2rem;
	line-height: 16px;
}
.pros_cons>p:nth-of-type(1) {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 18px;
}
.pros_cons>p:nth-of-type(2) {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 160%;
	margin-top: 12px;
}
.comment_hashtag_wrap {
	position: relative;
}
.comment_hashtag {
	position: relative;
	gap: 12px;
	width: 100%;
	height: 22px;
	overflow-x: scroll;
	white-space: nowrap;
}
.comment_hashtag::-webkit-scrollbar{
	display: none;
}
.comment_hashtag>span {
	margin-right: 12px;
	font-size: 1.4rem;
	line-height: 160%;
	width: auto;
	height: 22px;
}
.hashtag_fade {
	position: absolute;
	top: 0px; right: 0px;
	width: 100px;
	height: 22px;
	background: linear-gradient(270deg, #fff 10%, rgba(255, 255, 255, 0) 30%);
	z-index: 2;
}
.comment_like {
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 4px;
	width: 135px;
	height: 36px;
	border: 1px solid #999fff;
	border-radius: 5px;
	cursor: pointer;
}
.comment_like>span:nth-of-type(1) {
	background:url(./images/like.png) no-repeat;
	width: 20px;
	height: 20px;
	background-size: contain;
}
.comment_like>span:nth-of-type(2) {
	height: 20px;
	font-size: 1.4rem;
	line-height: 140%;
	letter-spacing: -0.02rem;
}
.comment_like>span:nth-of-type(3) {
	width: 25px;
	height: 20px;
	font-size: 1.4rem;
	line-height: 140%;
	color: #aaaaaa;
}
.sidebar {
	display: none;
}

/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
	header {
		height: 120px;
	}
	.header_wrap{
		width:86%;
		height: 32px;
		margin-top: 60px;
	}
	div h1{
		width:140px;
		font-size:3.2rem;
	}
	main {
		margin-top: 120px;
	}
	.corp_info {
		width: 86%;
	}
	.corp_info_image {
		width: 120px;
		height: 120px;
	}
	.corp_info_data {
		margin-left: 32px;
	}
	.corp_info_data>div>span:nth-child(1) {
		font-size: 2.8rem;
	}
	.corp_info_data div>div:nth-child(1) {
		width: 120px;
		height: 24px;
	}
	.corp_info_data>div:nth-of-type(2)>span:nth-of-type(1){
		font-size: 1.8rem;
	}
	.corp_info_data>div:nth-of-type(2)>span:nth-of-type(2){
		font-size: 1.6rem;
	}
	.btn_review {
		width: 240px;
		height: 60px;
		font-size: 1.6rem;
	}
	.btn_write {
		width: 80px;
		height: 80px;
	}
	.btn_toTop {
		right: calc(10% + 20px);
	}
	.contents_wrap {
		width: 86%;
	}
	.total_score_corpname {
		font-size: 2.4rem;
	}
	.total_score_wrap {
		gap: 30px;
	}
	.total_score_main {
		width: 171px;
	}
	.total_score_main p:nth-of-type(1) {
		font-size: 2.2rem;
	}
	.total_score_main div:nth-of-type(1) {
		width: 175px;
		height:35px;
	}
	.total_score_main p:nth-of-type(2) {
		font-size: 1.4rem;
	}
	.total_detail_star span:nth-of-type(1) {
		font-size: 1.8rem;
	}
	.total_detail_star span:nth-of-type(2) {
		width: 20px;
		height: 20px;
	}
	.total_detail_star span:nth-of-type(3) {
		font-size: 1.8rem;
	}
	.total_score_detail>li:nth-of-type(2)>span:nth-of-type(3){
		width: 121px;
	}
	.contents_review {
		display: flex;
		gap: 60px;
	}
	.review_star>p {
		font-size: 2.0rem;
	}
	.btn_star_detail>div:nth-of-type(1) {
		width: 130px;
		height: 26px;
	}
	.star_detail {
		position: absolute;
	}
	.review_comment {
		margin-top: 0px;
	}
	.highlight>p {
		font-size: 2.0rem;
	}
	.highlight>div {
		display: flex;
		margin-top: 16px;
		gap: 4px;
	}
	.highlight>div>span:nth-of-type(1) {
		width: 18px;
		height: 18px;
	}
	.highlight>div>span:nth-of-type(2) {
		font-size: 1.4rem;
	}
	.pros_cons>p:nth-of-type(1) {
		font-size: 1.8rem;
	}
	.comment_hashtag {
		height: 26px;
	}
}

/* PC 1024 사이즈 반응형 */
@media screen and (min-width: 1024px) {
	.btn_review {
		bottom: 128px;
	}
	.contents_review {
		gap: 76px;
	}
	.review_star>p {
		font-size: 2.2rem;
	}
	.highlight>p {
		font-size: 2.2rem;
	}
	.pros_cons>p:nth-of-type(2) {
		font-size: 1.6rem;
	}
}

/* PC 1920 사이즈 반응형 */
@media screen and (min-width: 1920px) {
	.header_wrap{
		width:66.667%;
	}
	.corp_info {
		width: 66.667%;
	}
	.corp_info_data>div>span:nth-child(1) {
		font-size: 3.2rem;
	}
	.corp_info_data>div>span:nth-child(2) {
		font-size: 1.6rem;
	}
	.btn_review {
		font-size: 1.8rem;
	}
	.contents_wrap {
		width: 66.667%;
	}
	.contents_main {
		float: left;
		width: 68.36%;
	}
	.total_score_corpname {
		font-size: 2.8rem;
	}
	.total_score_wrap ul {
		column-gap: 160px;
		max-width: 600px;
	}
	.total_score_main p:nth-of-type(1) {
		font-size: 2.8rem;
	}
	.total_score_main p:nth-of-type(2) {
		font-size: 1.6rem;
	}
	.total_detail_star span:nth-of-type(1) {
		font-size: 2.0rem;
	}
	.total_detail_star span:nth-of-type(3) {
		width: 95px;
		font-size: 2.0rem;
	}
	.total_score_detail>li:nth-of-type(2)>span:nth-of-type(3){
		width: 135px;
	}
	.review_star>p {
		font-size: 2.4rem;
	}
	.highlight>p {
		font-size: 2.4rem;
	}
	.highlight>div>span:nth-of-type(2) {
		font-size: 1.6rem;
	}
	.pros_cons>p:nth-of-type(1) {
		font-size: 2.0rem;
	}
	.sidebar {
		display: block;
		float: right;
		width: 30%;
		overflow: hidden;
		height: auto;
		padding: 40px 42px;
		margin: 0;
		background-color: rgba(0,0,0,0.03);
		border-radius: 5px;
	}
	.sidebar>p {
		font-weight: 700;
		font-size: 2.0rem;
	}
	.sidebar>input {
		width: 300px;
		height: 38px;
		margin-top: 20px;
		border-bottom: 1px solid #aaaaaa;		
	}
	.side_contents>ul>li {
		margin: 20px 0px;
	}
	.side_contents>ul>li>p {
		font-size: 1.8rem;
		font-weight: 700;
	}
	.side_contents>ul>li>div:nth-of-type(1) {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		margin-top: 6px;
	}
	.side_contents>ul>li>div:nth-of-type(1)>div {
		width: 76px;
		height: 16px;
	}
	.side_contents>ul>li>div:nth-of-type(1)>span:nth-of-type(1) {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 16px;
	}
	.side_contents>ul>li>div:nth-of-type(1)>span:nth-of-type(2) {
		font-size: 1.4rem;
		line-height: 16px;
		color: #aaaaaa;
	}
	.side_contents>ul>li>div:nth-of-type(2) {
		padding: 10px 20px;
		overflow: hidden;
		width: 100%;
		height: auto;
		min-height: 108px;
		margin-top: 6px;
		background-color: #ffffff;
		border: 1px solid rgba(0,0,0,0.3);
		border-radius: 5px;
	}
	.side_contents>ul>li>div:nth-of-type(2)>p:nth-of-type(1) {
		width: 100%;
		font-weight: 400;
		font-size: 1.6rem;
		word-wrap: break-word;
	}
	.side_contents>ul>li>div:nth-of-type(2)>p:nth-of-type(2) {
		font-size: 1.4rem;
		margin-top: 9px;
	}
	.side_contents>ul>li>div:nth-of-type(2)>button {
		float: right;
		width: 63px;
		height: 28px;
		margin-top: 9px;
		border: 1px solid rgba(0,0,0,0.4);
		border-radius: 5px;
	}
}