@charset "utf-8";
main{
  margin-top:120px;
  width:100%;
}
section{
  width: 80%;
  margin: 0 auto;
}

button{
  cursor: pointer;
}
@mixin search-label{
  width: 80px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 32px;
}
@mixin filter-flex{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.search-section{
  position: relative;
  background-color: #F3F4FB;
  padding: 40px 20px;
  
  label{
    @include search-label;
  }
  .filter{
    display: none;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    .city{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      // @include filter-flex;
      &>div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: 10px;
        // @include filter-flex;
        &>div:nth-of-type(1){
          position: relative;
          display: flex;
          flex-wrap: wrap;
          gap:20px;
          .city-sido{
            width: 255px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #000;
            padding: 5px 20px;
            background: url(images/btn_detail.png) no-repeat right 20px center;
            background-size: 14px 7px;
            background-color: #fafafa;
            color: #000;
            font-size: 1.2rem;
            line-height: 20px;
          }
          .sido-list{
            position: absolute;
            top: 40px;
            width: 255px;
            border-radius: 5px;
            border: 1px solid #000;
            padding: 20px;
            background-color: #fafafa;
            color: #000;
            ul{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              gap: 8px;
              li{
                label{
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 15px;
                  span{
                    vertical-align: top;
                  }
                }

              }
            }
            &>div{
              margin-top: 20px;
              float: right;
              button{
                width: 60px;
                color: #fff;
                padding: 6px 12px;
                border-radius: 3px;
              }
              .reset-sido{
                background-color: #888;
              }
              .submit-sido{
                background-color: rgba(0, 13, 255, 0.6);
              }
            }
          }
        }
      }
      div:nth-of-type(2){
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 1.2rem;
      }
    }
    .score{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      div{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }
      button:nth-of-type(1){
        width: 36px;
        height: 32px;
        padding: 6px 8px;
        background-color: #EDEEF9;
        border-radius: 5px;
        img{
          width: 20px;
          height: 20px;
        }
      }
      button:nth-of-type(2){
        width: 55px;
        height: 32px;
        padding: 6px 8px;
        background-color: #EDEEF9;
        border-radius: 5px;
        img{
          width: 39px;
          height: 20px;
        }
      }
      button:nth-of-type(3){
        width: 74px;
        height: 32px;        padding: 6px 8px;
        background-color: #EDEEF9;
        border-radius: 5px;
        img{
          width: 58px;
          height: 20px;
        }
      }
      button:nth-of-type(4){
        width: 93px;
        height: 32px;
        padding: 6px 8px;
        background-color: #EDEEF9;
        border-radius: 5px;
        img{
          width: 77px;
          height: 20px;
        }
      }
      button:nth-of-type(5){
        width: 112px;
        height: 32px;
        padding: 6px 8px;
        background-color: #EDEEF9;
        border-radius: 5px;
        img{
          width: 96px;
          height: 20px;
        }
      }
      .score-active{
        background-color: rgba(0, 13, 255, 0.6) !important;
      }
    }
    .hashtag{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
      }
      button{
        padding: 4px 8px;
        font-size: 1.4rem;
        border: 1px solid #aaa;
        border-radius: 12px;
        color: #000;
        background-color: #fff;
      }
      .hashtag-active{
        background-color: rgba(0, 13, 255, 0.6) !important;
        color: #fafafa
      }
    }
  }
  .search-main{
    @include filter-flex;
    gap:40px;
    .corp{
      @include filter-flex;
      input{
        padding: 12px 20px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fafafa;
        font-size: 1.4rem;
        &::placeholder{
          color: rgba(0,0,0,0.3);
        }
      }
    }
    button{
      width: 88px;
      height: 42px;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.4rem;
    }
    .submit-search{
      color: #fafafa;
      background-color: rgba(0,13,255,0.6);
    }
    .reset-search{
      background-color: #DDD;
      margin-left: 20px;
    }
  }
  .btn-filter{
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
    img{
      width: 20px;
    }
  }
}
.list-section{
  margin-top: 100px;
  margin-bottom: 120px;
  .order{
    display: flex;
    justify-content: flex-end;
    select{
      width: 120px;
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 6px 8px;
      color: #aaa;
      font-size: 1.4rem;
    }
  }
  .corp-wrap{
    margin-top: 20px;
    li{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 28px 40px;
      gap: 20px;
      border-bottom: 1px solid #aaa;
      .corp-img{
        width: 80px;
        height: 80px;
        background-color: #aaa;
      }
      .corp-data{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 8px 0px;
        &>div:nth-of-type(1){
          display: flex;
          flex-direction: column;
          gap: 8px;
          h1{
            font-size: 1.8rem;
            font-weight: 700;
          }
          p{
            font-size: 1.4rem;
          }
        }
        .corp-hash{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px 20px;
          font-size: 1.6rem;
        }
      }
      .corp-score{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &>div{
          display: flex;
          flex-direction: row;
          gap: 20px;
          img{
            width: 48px;
            height: 48px;
          }
          p{
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 48px;
            span{
              font-size: 1.6rem;
              font-weight: 400;
            }
          }

        }
        a{
          font-size: 1.6rem;
        }
      }
    }
  }
  .result-none-wrap{
    width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    &>img{
      width: 210px;
      height: 216px;
    }
    &>div{
      margin-top: 40px;
      font-size: 1.6rem;
      &>button{
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
  .page-wrap{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    .prev{
      background: url(images/ico_arrow_L.png) no-repeat;
      background-size: contain;
      width: 7px;
      height: 14px;
      cursor: pointer;
    }
    .next{
      background: url(images/ico_arrow_R.png) no-repeat;
      background-size: contain;
      width: 7px;
      height: 14px;
      cursor: pointer;
    }
    .pages{
      display: flex;
      flex-direction: row;
      gap: 28px;
      justify-content: center;
      li{
        font-size: 1.8rem;
        color: #888;
        font-family: NanumSquare;
        cursor: pointer;
      }
      .page-active{
        color: #000;
      }
    }
  }
}

/* 테블릿 768 사이즈 반응형 */
@media screen and (min-width: 768px) {
  section{
    width: 86%;
  }
  @mixin search-label{
    font-size: 1.8rem;
    width: 100px;
  }
  .search-section{
    padding: 40px;
    label{
      @include search-label;
    }
    .filter{
      display: flex;
      gap: 30px;
      .city{
        justify-content: flex-start;
        gap: 10px;
        .city-sido{
          height: 35px !important;
          font-size: 1.6rem !important;
          line-height: 25px !important;
        }
      }
      .score{
        flex-direction: row;
        gap: 10px;
      }
      .hashtag{
        flex-direction: row;
        gap: 10px;
      }
    }
    .search-main{
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      .corp{
        flex-grow: 1;
        flex-direction: row;
        gap: 10px;
        input{
          flex-grow: 1;
        }
      }
    }
    .btn-filter{
      display: none;
    }

  }
  .list-section{
    .order{
      select{
        font-size: 1.6rem;
      }
    }
    .corp-wrap{
      li{
        justify-content: space-between;
        gap: 40px;
        .corp-data{
          flex-grow: 1;
          width: 50%;
        }
        .corp-score{
          width: auto;
          justify-content: center;
        }
      }
    }
  }
}

/* 테블릿 1024 사이즈 반응형 */
@media screen and (min-width: 1024px) {
  @mixin search-label{
    font-size: 2.0rem;
  }
  .search-section{
    label{
      @include search-label;
    }
    .filter{
      .city, .score, .hashtag{
        gap: 40px;
      }
      .score{
        button:nth-of-type(1){
          width: 40px;
          height: 36px;
          img{
            width: 24px;
            height: 24px;
          }  
        }
        button:nth-of-type(2){
          width: 63px;
          height: 36px;
          img{
            width: 47px;
            height: 24px;
          }
        }
        button:nth-of-type(3){
          width: 86px;
          height: 36px;
          img{
            width: 70px;
            height: 24px;
          }
        }
        button:nth-of-type(4){
          width: 109px;
          height: 36px;
          img{
            width: 93px;
            height: 24px;
          }
        }
        button:nth-of-type(5){
          width: 132px;
          height: 36px;
          img{
            width: 116px;
            height: 24px;
          }
        }
      }
    }
    .search-main{
      .corp{
        gap: 40px;
      }
      button{
        font-size: 1.6rem;
      }
    }
  }
  .list-section{
    .corp-wrap{
      li{
        .corp-data{
          &>div:nth-of-type(1){
            flex-direction: row;
            align-items: end;
            h1{
              font-size: 2.0rem;
            }
            p{
              font-size: 1.6rem;
            }
          }
        }
        .corp-score{
          &>div>img{
            width: 54px;
            height: 54px;
          }
          &>div>p{
            font-size: 2.0rem;
            line-height: 54px;
            span{
              font-size: 1.8rem;
            }
          }
          a{
            font-size: 1.8rem;
          }
        }
      }
    }
    .result-none-wrap{
      &>div{
        font-size: 2.0rem;
        &>button{
          font-size: 2.0rem;
        }
      }
    }
  }
}

/* PC 1280 사이즈 반응형 */
@media screen and (min-width: 1280px) {
  section{
    width: 67%;
  }
}

/* PC 1920 사이드바 추가 */
@media screen and (min-width: 1920px) {
  .sidebar{
    display: block;
    position: fixed;
    right: 100px;
    top: 200px;
    width: 180px;
    height: 300px;
    background-color: #888;
  }
}