@charset "utf-8";

.container{
    position: absolute;
    width:100%;height:100%;
    background-color: #f5f5f5;
    overflow:auto;
}
.modal{
    display:none;
    position:fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    background:#fff;
    z-index: 11;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 28px;
    width:100%;
    height:96px;    
}
.header_wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width:78.7%;
    height:28px;
}
div h1{
    display:flex;
    width:140px;
    height:28px;
    font-size:2.4rem;
    font-weight: normal;
}
.blind_btn_ham {
    display: flex;
    padding: 0px;
    width: 32px;
    height:24px;
    position:relative;
    background:url(./images/btn_ham.png) no-repeat center/contain;
    cursor:pointer;
    z-index: 1;
}
.div_line {
    width: 100%;
    height: 120px;
    background-color: #1e2480;
}
.corp_info {
    display: block;
    width: 78.7%;
    height: 260px;
    left: 40px;
    top: 176px;
    gap: 16px;
    position: absolute;
}
.corp_info_image {
    display: flex;
    width: 27.1%;
    max-width: 80px;
    max-height: 80px;
    background-color: #fff;
    position: relative;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.corp_info_image::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.corp_info_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 67.5%;
    height: 61px;
    left: 96px;
    top: 60px;
    position: absolute;
}
.corp_info_data div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
}
.corp_info_data span:nth-child(1) {
    display: flex;
    font-size: 2.4rem;
    align-items: center;
}
.corp_info_data span:nth-child(2) {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    line-height: 16px;
}
.corp_info_data div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    font-size: 1.4rem;
}
.hashtag_top {
    font-size: 1.4rem;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 95%;
    height: 44px;
}
.btn_review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 54.5%;
    height: 48px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3d47FF;
    border-radius: 8px;
    font-size: 1.4rem;
    line-height: 16px;
    text-align: center;
    color: #fafafa;
    overflow: visible;
    cursor: pointer;
}
.btn_write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 60px;
    height: 60px;
    left: 275px;
    top: 552px;   
    background: url(./images/btn_write_modal.png) no-repeat center;
    background-size: 50%;
    background-color: #3d47FF;
    border-radius: 60px;
    cursor:pointer;
    z-index: 2;
}
.total_score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16% 12.8%;
    position: absolute;
    width: 78.7%;
    height: 467px;
    left: 40px;
    top: 496px;
    background:#fff;
    border-radius: 5px;
}
.total_score_corpname {
    position: relative;
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 23px;
}
.total_score_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    width: 136px;
    height: 78px;
    top: 52px;
}
.total_score_main p:nth-of-type(1) {
    width: 28px;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 20px;
}
.total_score_main div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 136px;
    height:28px;
}
.star_bg {
    position: relative;
    background: url(./images/star_bg.png) no-repeat;
    background-size: contain;
}
.star_bg span{
    position: absolute;
    background: url(./images/star_selected.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover;

}
.total_score_main p:nth-of-type(2) {
    width: 60px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14px;
    color: #aaaaaa;
    letter-spacing: -0.02rem;
}
.total_score_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    width: 200px;
    top: 98px;
}
.total_detail_star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 18px;
}
.total_detail_star span:nth-of-type(1) {
    width: 26px;
    height: 18px;
    font-weight: 800;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.5);
}
.total_detail_star span:nth-of-type(2) {
    display: flex;
    width: 18px;
    height: 18px;
    background: url(./images/Star.png);
    background-size: contain;
}
.total_detail_star span:nth-of-type(3) {
    width: 108px;
    height: 18px;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    color: #000;
}
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 78.7%;
    left: 40px;
    top: 983px;
    border-radius: 5px;
    background-color: #fff;
}
.contents_review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 30px;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
.review_star {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}
.review_star>div:nth-of-type(1) {
    width: 28px;
    height: 20px;
    font-weight: 800;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}
.btn_star_detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.btn_star_detail>div:nth-of-type(1) {
    width: 96px;
    height: 20px;
}
.btn_star_detail>button:nth-of-type(1) {
    width: 16px;
    height: 8px;
    background: url(./images/btn_detail.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.star_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    gap: 4px;
    width: 100%;
    height: 136px;
    border: 1px solid #eeeeee;
}
.star_detail>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 16px;
}
.star_detail>div>div{
    width: 76px;
    height: 16px;
}
.star_detail>div>p {
    width: 100px;
    height: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #aaaaaa;
}
.review_comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    width: 100%;
    top: 30px;
}
.highlight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}
.highlight>p {
    width: 100%;
    height: 20px;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 20px;
}
.highlight>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    height: 16px;
}
.highlight>div>span:nth-of-type(1) {
    background: url(./images/airplane.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
}
.highlight>div>span:nth-of-type(2) {
    width: calc(100% - 16px);
    height: 16px;
    font-weight: 400    ;
    font-size: 1.2rem;
    line-height: 16px;
}
.pros_cons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}
.pros_cons>p:nth-of-type(1) {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 18px;
}
.pros_cons>p:nth-of-type(2) {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
}
.comment_hashtag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 22px;
    overflow-y: scroll;
}
.comment_hashtag>span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    width: auto;
}
.comment_like {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 4px;
    width: 138px;
    height: 36px;
    border: 1px solid #999fff;
    border-radius: 5px;
    cursor: pointer;
}
.comment_like>span:nth-of-type(1) {
    background:url(./images/like.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.comment_like>span:nth-of-type(2) {
    width: 67x;
    height: 20px;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: -0.02rem;
}
.comment_like>span:nth-of-type(3) {
    width: 25px;
    height: 20px;
    font-size: 1.4rem;
    line-height: 140%;
    color: #aaaaaa;
}