@charset "utf-8";

/* z-index
.visual_slider_wrap span 9 (arrow)
.header_wrap 10 / .btn_toTop 10 / .modal 11 / nav 12 / .btn_ham 13 */
/* moblie */
.container{
  width:100%;height:100%;
}
.modal{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  background:#fff;
  z-index: 11;
}
header{
  width:90%;
  height:120px;
  background-color:#fff;
  padding-top:40px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.header_wrap{
  width:100%;
  height:80px;
  line-height:80px;
  display:flex;
  justify-content: space-between;
  z-index: 10;
}
h1{
  display:block;
  width:240px;
  height:80px;
  line-height:80px;
  font-size:2.4rem;
  font-weight: normal;
}
h1>a{
  display:block;
  width:100%;height:100%;
}
h1>a>span:nth-child(1){
  color:#000DFF;
  font-weight: bold;
}
h1>a>span:nth-child(2){
  color:#FFCC00;
}

.btn_ham{
  position:absolute;
  top:40px;right:5%;
  display:block;
  width:24px; height:80px;
  background:url(images/btn_ham.png) no-repeat center/contain;
  cursor:pointer;
  z-index: 13;
}

nav{
  display:none;
  width:50%;
  z-index: 12;
}

nav form{
  position:relative;
  margin-top:80px;
  width:100%;
  text-align:right;
}
.input_search{
  position:absolute;
  top:-44px;right:40%;
  border-bottom:1px solid #000DFF;
}
nav input::placeholder{
  color:rgba(0,0,0,0.3);
  font-size:1.4rem;
}
nav form button{
  position:absolute;
  top:-44px;right:32%;
  border:none;
  width:14px;
  height:14px;
  background:url(images/btn_search.png) no-repeat center/contain;
  cursor: pointer;
}
nav ul{
  width:100%;
  font-size:1.6rem;
  text-align:right;
}
nav ul li a{
  display:block;
  width:100%;height:100%;
}
nav>div:last-child{
  margin-top:20px;
  width:100%;
  text-align:right;
  font-size:1.6rem;
  font-weight: 300;
}
nav>div:last-child a{
  display:block;
  width:100%;
  height:100%;
}
/* header end */

main{
  position:relative;
  width:100%;
  padding-bottom:120px;
}
.main_wrap{
  position: relative;
  width:100%;
}
.btn_toTop{
  position:fixed;
  bottom: 20px; right: 20px;
  display:block;
  width:28px;height:24px;
  background:url(images/toTop.png) no-repeat center/contain;
  cursor:pointer;
  z-index:10;
}
.visual{
  position:relative;
  width:100%;
  height:422px;
  background-color:rgba(0, 13, 255, 0.05);
}
.visual_slider_wrap{
  position:relative;
  width:100%;
  height:100%;
  padding:20px 0;
}
.visual_slider_wrap button:nth-of-type(1){
  position:absolute;
  top:50%;left:20px;
  display:block;
  width:24px;height:24px;
  background:url(images/btn_arrow_left.png) no-repeat center/contain;
  cursor: pointer;
  z-index: 9;
}
.visual_slider_wrap button:nth-of-type(2){
  position:absolute;
  top:50%;right:20px;
  display:block;
  width:24px;height:24px;
  background:url(images/btn_arrow_right.png) no-repeat center/contain;
  cursor: pointer;
  z-index: 9;
}
.visual_slider{
  position:absolute;
  top:0;left:50%;
  transform:translateX(-50%);
  width:908px;
  height:342px;
  margin-top:40px;
}
.visual_slider li{
  position: relative;
  width: 276px;
  height:342px;
  background:url(images/img-bg-main-card-off.png) no-repeat center/contain;
  float:left;
  margin-left:40px;
}
.visual_slider li:first-child{
  margin-left:0;
}
.visual_slider li:nth-child(2){
  background:url(images/img-bg-main-card-on.png) no-repeat center/contain;
}
.visual_slider li a{
  position:relative;
  width:100%;
  height:100%;
  padding:0 40px;
}
.visual_slider li:nth-child(2) a{
  color:#fff;
}

.visual_slider li a b{
  position:absolute;
  top:220px;left:20px;
  display:block;
  width:236px;
  font-size:2.4rem;
  font-weight:400;
}
.visual_slider li a p{
  position:absolute;
  top: 270px;left:20px;
  width:236px;
  font-size:2rem;
}
.visual_slider li a i{
  position:absolute;
  top:300px;left:20px;
  width:236px;
  font-size:1.4rem;
}
.visual .btn_more{
  position:relative;
  width:80%;
  margin:0 auto;
  padding:10px;
}

.visual .btn_more a{
  display:block;
  width:100%;
  height:60px;
  line-height:60px;
  margin:20px auto;
  font-size:1.6rem;
  text-align:center;
  color:#fff;
  background:url(images/btn-bg.png) no-repeat center/cover;
  border-radius:36px;
  text-overflow: ellipsis;
}
/* visual end */

.con1{
  position:relative;
  width:90%;
  margin: 200px auto 0;
  padding:0 20px;
}
.con1_tit{
  width:100%;
}
.con1_tit h3{
  display:block;
  width:max-content;
  font-size:2rem;
  border-bottom:2px solid #333;
  margin-bottom:10px;
}
.con1_con{
  width:100%;
}
.con1_con::before{
  content:"";
  display:table;
}
.con1_box{ /* ul */
  width:100%;
  margin-top:20px;
}
.con1_box li{
  width:100%;
  height:120px;
  margin:12px 0;
  border:1px solid rgba(0, 13, 255, 0.3);
  border-radius:12px;
}
.con1_box li a{
  display:block;
  width:100%;
  height:100%;
  padding:10px 20px;
  display:flex;
}
.con1_box_img{
  width:100px;
  height:100%;
  background:rgba(0, 13, 255, 0.3)
}
.con1_box_txt{
  width:70%;
  margin-left:20px;
}
.con1_box_txt b{
  display:block;
  font-size:2rem;
}
.con1_box_txt i{
  display:block;
  font-size:1.4rem;
  margin:4px 0 12px;
}
.con1_box_txt p{
  font-size:1.6rem;
}

.con1 .btn_more{
  display:block;
  width:160px;
  height:60px;
  margin:40px auto;
}
.con1 .btn_more a{
  display:block;
  width:100%;
  height:100%;
  font-size:1.6rem;
  text-align:center;
  line-height:60px;
  font-weight: 500;
  color:#fff;
  background-color:rgba(0, 13, 255, 0.5);
  border-radius:36px;
}
/* con1 end */
.con2{
  position:relative;
  width:90%;
  margin:120px auto 0;
  padding:0 20px;
}
.con2_tit{
  width:100%;
}
.con2_tit h3{
  display:block;
  width:max-content;
  font-size:2rem;
  border-bottom:2px solid #333;
  margin-bottom:10px;
}
.con2_con::before{
  content:"";
  display:table;
}
.con2_con{ 
  width:100%;
}
.con2_box{ /* ul */
  width:100%;
  margin-top:20px;
}
.con2_box li{
  width:100%;
  height:100px;
  border:1px solid rgba(51,51,51, 0.5);
}
.con2_box li a{
  display:block;
  width:100%;
  height:100%;
  padding:10px 20px;
}
.con2_box li a b{
  display:block;
  font-size:2rem;
}
.con2_box li a p{
  font-size:1.6rem;
  margin:12px 0 4px;
}
.con2_box li a i{
  display:block;
  font-size:1.4rem;
}
.con2 .btn_more{
  display:block;
  width:160px;
  height:60px;
  margin:40px auto;
}
.con2 .btn_more a{
  display:block;
  width:100%;
  height:100%;
  font-size:1.6rem;
  text-align:center;
  line-height:60px;
  font-weight: 500;
  color:#fff;
  background-color:rgba(51, 51, 51, 0.5);
  border-radius:36px;
}
/* con2 end */

/* main end */

footer{
  position:relative;
  width:100%;
}
.footer_wrap{
  width:100%;
  border-top:1px solid rgba(51,51,51,0.3);
  padding:20px;
}
.footer_top{
  width:100%;
  margin:20px 0 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom:20px;
}
.footer_top h2{
  font-size:2rem;
  line-height:28px;
}
.footer_top ul{
  width:100%;
  display:flex;
}
.footer_top ul li{
  width:fit-content;
  height:40px;
  line-height:40px;
  margin-right:10px;
}
.footer_top ul li a{
  display:block;
  width:100%;
  height:100%;
  font-size:1.4rem;
}
.footer_sns{
  width:100%;
  display:none;
}
.footer_sns ul li a{
  display:block;
  width:36px; height:36px;
  border-radius: 12px;;
}
.footer_sns li:nth-of-type(1) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(2) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(3) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(4) a{
  background:rgba(0, 13, 255, 0.3)
}

.footer_bottom{
  width:100%;
  font-size:1.2rem;
  margin-top:20px;
}
.footer_bottom span::after{
  content:" |"
}
.footer_bottom span:last-of-type::after{
  content:""
}
/* moblie end */