@charset "utf-8";
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
/* font-family: 
'NanumSquareLight';
'NanumSquare';
'NanumSquareBold';
'NanumSquareExtraBold';
'NanumSquareAcb';
'NanumSquareAceb';
'NanumSquareAcl';
'NanumSquareAcr'; */


*{
  margin:0; padding:0;
  box-sizing:border-box;
}

html, body{
  width:100%;
  height:100%;
}
html{
  color:#333333;
  font-size:0.625rem;
  font-family: 'NanumSquare';
  /* font-family: 'NanumSquareNeo-Variable'; */
}
.container{
  width:100%;;
  height: auto;
  min-height: 100%;
  background-color: #fafafa;
	overflow:auto;
  position: relative;
  padding-bottom: 200px;
}
a{
  text-decoration: none;
  color:inherit
}
li{
  list-style:none;
}
fieldset{
  border:none;
}
button{
  border:none;
  background:none;
}
.screen_out{
  position:absolute;
  left:-9999px;
}
.blind{
  text-indent:-9999px;
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
i{
  font-style: normal;
}

/* reset-end */

