@charset "utf-8";

/* z-index
.visual_slider_wrap span 9 (arrow)
.header_wrap 10 / .btn_toTop 10 / .modal 11 / nav 12 / .btn_ham 13 */
/* moblie */
.container{
  width:100%;height:100%;
}
.modal{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  background:#fff;
  z-index: 11;
}
header{
  width:90%;
  height:120px;
  background-color:#fff;
  padding-top:40px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.header_wrap{
  width:100%;
  height:80px;
  line-height:80px;
  display:flex;
  justify-content: space-between;
  z-index: 10;
}
h1{
  display:block;
  width:30%;
  max-width:120px;
  height:80px;
  line-height:80px;
  font-size:2.4rem;
  font-weight: normal;
}
h1>a{
  display:block;
  width:100%;height:100%;
  background:url(./images/logo_NeedU.png) no-repeat center/contain;
}

.btn_ham{
  position:absolute;
  top:40px;right:5%;
  display:block;
  width:24px; height:80px;
  background:url(images/btn_ham.png) no-repeat center/contain;
  cursor:pointer;
  z-index: 13;
}

nav{
  display:none;
  width:50%;
  z-index: 12;
}

nav form{
  position:relative;
  margin-top:80px;
  width:100%;
  text-align:right;
}
.input_search{
  position:absolute;
  top:-44px;right:40%;
  border-bottom:1px solid #000DFF;
}
nav input::placeholder{
  color:rgba(0,0,0,0.3);
  font-size:1.4rem;
}
nav form button{
  position:absolute;
  top:-44px;right:32%;
  border:none;
  width:14px;
  height:14px;
  background:url(images/btn_search.png) no-repeat center/contain;
  cursor: pointer;
}
nav ul{
  width:100%;
  font-size:1.6rem;
  text-align:right;
}
nav ul li a{
  display:block;
  width:100%;height:100%;
}
nav>div:last-child{
  margin-top:20px;
  width:100%;
  text-align:right;
  font-size:1.6rem;
  font-weight: 300;
}
nav>div:last-child a{
  display:block;
  width:100%;
  height:100%;
}
/* header end */
main{
  width:100%;
}
.visual_wrap{
  width:100%;
  background-color:#131987;
}
.visual{
  width:78.6%;
  margin:0 auto;
  padding: 80px 0;
  color:#fff;
  font-family: 'NanumSquareLight';
  line-height:1.2;
  text-align:center;
}
.visual p:nth-of-type(1){
  font-size:1.4rem;
}
.visual p:nth-of-type(2){
  margin-top:4px;
  display:inline-block;
  font-size:1.6rem;
}
.visual p:nth-of-type(2) span{
  display:inline-block;
  font-family: 'NanumSquareExtraBold';
}
.visual p:last-of-type{
  font-size: 2.8rem;
  margin: 20px 0 48px;
}
.visual p:last-of-type span{
  font-family: 'NanumSquareExtraBold';
  background-color:#fff;
  color:#131987;
  padding: 0 4px;
}
.search_main_wrap{
  width:100%;
  max-width:480px;
  padding: 12px 40px;
  background-color:rgba(255,255,255,0.3);
  border:3px solid #fff;
  border-radius: 36px;
  margin:0 auto;
}
.search_main_wrap fieldset{
  width:100%;
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.search_main_wrap input{
  width:100%;
  background:none;
  border:none;
  color:#fff;
  font-size:1.4rem;
}
.search_main_wrap input::placeholder{
  color:rgba(255,255,255,0.6);
}
.search_btn{
  width:20px; 
  height:20px; 
  background:url(./images/btn_search_wh.png) no-repeat center/contain;
}
.visual>span:last-child{
  display:block;
  margin-top:20px;
  margin-left:40px;
  font-size:1.4rem;
  text-align:left;

}
.visual>span:last-child a{
  display:inline-block;
  margin-top:4px;
  text-decoration: underline;
}
/* visual end */
.recentReview_wrap{
  width:78.6%;
  margin:0 auto;
  margin-top:160px;
}
.recentReview_wrap h2{
  font-size:2rem;
  font-family: 'NanumSquareExtraBold';
}
.recentReview{
  width:100%;
  margin-top:16px;
  text-align: right;
}
.btn_recentReview{
  font-size:1.4rem;
  cursor: pointer;
  display:inline-block;
}
.btn_recentReview::after{
  content:"";
  display:inline-block;
  margin-left:8px;
  width:12px;
  height:12px;
  background:url(./images/ico_arrow_R.png) no-repeat center/contain;
}
.recenetReview_con_wrap{
  text-align:left;
  width:100%;
}

.recenetReview_con{
  padding: 20px 9%;
  background-color: #ECECEC;
  border-radius: 5px;
  margin:20px 0;
}
.recenetReview_con strong{
  font-weight:normal;
  font-size:1.4rem;
}
.recenetReview_con p{
  display:none;
}
.recenetReview_con_bottom{
  margin-top: 8px;
  width:100%;
  display:flex;
  justify-content: right;
  flex-wrap: wrap;
  gap:8px;
  color:#888;
  font-size:1.2rem;
}
.recenetReview_con_bottom div{
  width:27.8%;
  height:auto;
  line-height:1;
  padding-bottom:1vw;
  background:url(./images/star_bg.png) no-repeat right/contain;
}
.recenetReview_con_bottom ul{
  display:flex;
  justify-content: right;
  gap: 8px;
}

.recenetReview_con strong{
  line-height:1.4;
  display:block;
  width:100%;
  height:2.3rem;
  overflow-y:hidden;
}

.recenetReview_con.focus p{
  display:block;
}
.recenetReview_con.focus{
  padding: 40px 9% 28px 9%;
  background-color: #EBECFF;
  border-radius:5px;
  font-size:1.2rem;
  line-height:1.4;
}
.recenetReview_con.focus strong{
  font-size:1.4rem;
  font-family: 'NanumSquareBold';
  height:auto;
}
.recenetReview_con.focus p:nth-of-type(1){
  margin-top:14px;
  margin-bottom:8px;
}
.recenetReview_con.focus span{
  display:block;
  font-family: 'NanumSquareBold';
}

.main_bottom_banner_wrap{
  width:78.6%;
  margin: 120px auto 44px;
}
.main_bottom_banner{
  width:100%;
  height:234px;
  border-radius: 5px;
  background: #888 url() no-repeat center/contain;
}

/* main end */

footer{
  position:relative;
  width:100%;
}
.footer_wrap{
  width:100%;
  border-top:1px solid rgba(51,51,51,0.3);
  padding:20px;
}
.footer_top{
  width:100%;
  margin:20px 0 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding-bottom:20px;
}
.footer_top h2{
  font-size:2rem;
  line-height:28px;
}
.footer_top ul{
  width:100%;
  display:flex;
}
.footer_top ul li{
  width:fit-content;
  height:40px;
  line-height:40px;
  margin-right:10px;
}
.footer_top ul li a{
  display:block;
  width:100%;
  height:100%;
  font-size:1.4rem;
}
.footer_sns{
  width:100%;
  display:none;
}
.footer_sns ul li a{
  display:block;
  width:36px; height:36px;
  border-radius: 12px;;
}
.footer_sns li:nth-of-type(1) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(2) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(3) a{
  background:rgba(0, 13, 255, 0.3)
}
.footer_sns li:nth-of-type(4) a{
  background:rgba(0, 13, 255, 0.3)
}

.footer_bottom{
  width:100%;
  font-size:1.2rem;
  margin-top:20px;
}
.footer_bottom span::after{
  content:" |"
}
.footer_bottom span:last-of-type::after{
  content:""
}
/* moblie end */