@charset "utf-8";

/* z-index
.visual_slider_wrap button 9 (arrow)
.header_wrap 10 / .modal 11 / .btn_ham 12 / nav 13 */
/* tablet_768 */
@media screen and (min-width:768px) {


.input_search{
  top:-52px;
  font-size:2rem;
}
  
nav form button{
  top:-52px;
  width:20px;
  height:20px;
}
nav ul{
  font-size:2rem;
}
nav>div:last-child{
  font-size:2rem;
}
/* header end */


.visual .btn_more a{
  font-size:2rem;
}
/* visual end */


/* main end */

footer{
  position:relative;
  width:100%;
}
.footer_wrap{
  width:100%;
  border-top:1px solid rgba(51,51,51,0.3);
  padding:20px;
}

.footer_top{
  height:40px;
  margin:40px 0 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.footer_top h2{
  float:left;
}
.footer_top>div:nth-child(1) ul{
  width:60%;
  float:left;
  margin-left:20px;
}

.footer_sns{
  clear:both;
  margin-top:48px;
}

.footer_bottom{
  width:100%;
}
}
/* tablet end */