@charset "utf-8";
/* z-index: madal12 modal-box11 header10; button9 */

.main_wrap{
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 240px;
}
.main_wrap>h1{
  text-align: center;
  font-size: 1.6rem;
  font-family: 'NanumSquareBold';
  margin-bottom: 50px;
}
.search{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 32px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 40px;
  margin-bottom: 100px;
}
.user_input{
  width: 100%;
  padding: 0px 0px 10px;
}
#search_input{
  float: left;
  width: calc(100% - 30px);
  height: 28px;
  font-size: 1.4rem;
  border-bottom: 1px solid #000; 
}
#search_input::placeholder{
  color: rgba(0,0,0,0.3);
}
.auto_corp{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  gap: 40px;
  font-size: 1.4rem;
}
.auto_corp button{
  width: 100%;
  height: 28px;
  text-align: left;
  cursor: pointer;
}
.auto_corp span{
  font-size: 1.4rem;
}
.active{
  background-color: #ededed;
}

#btnSubmit{
  position: absolute;
  right: 20px;
  width: 28px;
  height: 28px;
  background: url(images/btn_search_black.svg) no-repeat center/contain;
  cursor: pointer;
}

.auto_corp>li{
  height: 28px;
  line-height: 28px;
}
.auto_corp>li>span:nth-of-type(2){
  margin: 0px 4px;
}
.register{
  font-size: 1.4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
.register>span:nth-of-type(2){
  font-size: 1.4rem;
  font-family: 'NanumSquareBold';
  cursor: pointer;
}
/* mobile-end */

@media screen and (min-width:768px) {
  .main_wrap{
    width: 86%;
  }
  .main_wrap>h1{
    font-size: 2.4rem;
  }
  .search{
    padding: 20px 60px;
  }
  #search_input{
    font-size: 1.8rem;
    width: calc(100% - 40px);
    height: 36px;
    font-size: 2.0rem;
  }
  #btnSubmit{
    right: 60px;
    width: 36px;
    height: 36px;
  }
  .auto_corp{
    font-size: 1.8rem;
  }
  .auto_corp>li{
    height: 40px;
    line-height: 40px;
  }
  .auto_corp span{
    font-size: 1.8rem;
  }  
  .register{
    font-size: 1.8rem;
  }
  .register>span:nth-of-type(2){
    font-size: 1.8rem;
  }

}
/* 768 end */
/* 1024 */
@media screen and (min-width:1024px) {
  .search{
    padding: 20px 80px;
  }
  #search_input{
    font-size: 2.0rem;
    width: calc(100% - 50px);
    height: 44px;
  }
  #btnSubmit{
    right: 60px;
    width: 44px;
    height: 44px;
  }
  .auto_corp{
    font-size: 2.0rem;
  }
  .auto_corp span{
    font-size: 2.0rem;
  }
  .register{
    font-size: 2.0rem;
  }
  .register>span:nth-of-type(2){
    font-size: 2.0rem;
  }
}
@media screen and (min-width:1280px){
  .main_wrap{
    width: 67%;
    max-width: 1000px;
  }
  .main_wrap>h1{
    font-size: 2.8rem;
  }
  #search_input{
    font-size: 2.4rem;
  }
}